.tabs {
  .english-content,
  .source-content {
    display: none;
  }

  .tab-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    border-bottom: var(--border);

    .tab-head {
      display: none;
    }

    .tab-label {
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-weight: 450;
      border-bottom: 2px solid transparent;
      color: var(--foreground-secondary);
      transition:
        border 0.2s ease-in-out,
        color 0.2s ease-in-out;
    }
  }
}

.english-content,
.source-content,
.description-content,
.translated-content,
.ipa-content,
.gloss-content,
.notes-content {
  display: none;
}

.tabs:has(#english-tab:checked) .english-content,
.tabs:has(#source-tab:checked) .source-content,
.tabs:has(#description-tab:checked) .description-content,
.tabs:has(#translated-tab:checked) .translated-content,
.tabs:has(#ipa-tab:checked) .ipa-content,
.tabs:has(#gloss-tab:checked) .gloss-content,
.tabs:has(#notes-tab:checked) .notes-content {
  display: block;
}

.tabs:has(#english-tab:checked) label[for="english-tab"],
.tabs:has(#source-tab:checked) label[for="source-tab"],
.tabs:has(#description-tab:checked) label[for="description-tab"],
.tabs:has(#translated-tab:checked) label[for="translated-tab"],
.tabs:has(#ipa-tab:checked) label[for="ipa-tab"],
.tabs:has(#gloss-tab:checked) label[for="gloss-tab"],
.tabs:has(#notes-tab:checked) label[for="notes-tab"] {
  color: var(--foreground-primary);
  border-bottom: 2px solid var(--foreground-accent);
}

.full-card hr {
  border-top: var(--border);
  margin-bottom: 1rem;
}

.full-card > table {
  margin-top: 1rem;
  padding-top: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.9rem;

  tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  tr {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  th {
    color: var(--foreground-secondary);
    font-weight: normal;
    text-align: left;
  }
}

.expandable {
  position: relative;

  .expandable-content {
    max-height: 15rem;
    overflow: hidden;
  }

  &.always-expanded .expandable-content {
    max-height: none;
  }

  .expandable-control {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      transparent,
      var(--background-panel) 3.5rem
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2.5rem;
  }

  .expandable-label {
    color: var(--foreground-secondary);
    font-size: 0.9rem;
    transition: color 0.2s ease-in-out;

    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      color: var(--foreground-primary);
    }
  }

  .expandable-input,
  .see-less {
    display: none;
  }

  &:has(.expandable-input:checked) {
    .expandable-content {
      max-height: none;
    }

    .expandable-control {
      position: static;
    }

    .see-more {
      display: none;
    }

    .see-less {
      display: block;
    }
  }
}
