{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "language_families/fragments/card.html" as family_card -%}
{%- import "language_families/members/fragments/card.html" as member_card -%}
{%- import "language_families/fragments/footer.html" as family_f -%}

{% block title %}add child in {{ family.family.name }} - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>add child in {{ family.family.name }}</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<div class="context-cards">
    <div class="context-card family-member-context">
        <span class="context-label">for parent member</span>
        <ul class="standalone-card">
            {% call member_card::render(&parent_member) %}
        </ul>
    </div>
    <div class="context-card family-context">
        <span class="context-label">in family</span>
        <ul class="standalone-card">
            {% call family_card::render(&family) %}
        </ul>
    </div>
</div>

<form class="default" method="post" action="/language-families/{{ family.family.code }}/members/{{ parent_member.member.id() }}/add-language-member">
    <section>
        <label for="language_code">Child language</label>
        {% call u::field_error(name="language_code") %}
        <div class="select-container">
            <select id="language_code" name="language_code" required>
                <option value="" disabled selected>-- select a language --</option>
                {% for language in available_languages %}
                    <option value="{{ language.code }}" {% if previous_language_code == language.code %}selected{% endif %}>{{ language.name }} ({{ language.code }})</option>
                {% endfor %}
            </select>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062"/></svg>
        </div>
    </section>

    <section>
        <label>
            <input type="checkbox" name="is_hybrid" value="true"{% if let Some(is_hybrid) = previous_is_hybrid %}{% if is_hybrid %} checked{% endif %}{% endif %}>
            <span>hybrid language relation</span>
            <span class="hint">e.g. creole, pidgin</span>
        </label>
    </section>

    <section>
        <label for="notes">Notes</label>
        {% call u::field_error(name="notes") %}
        <input type="text" id="notes" name="notes" value="{{previous_notes}}">
    </section>

    <button type="submit">Add child</button>
</form>
{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.family.code }}" class="breadcrumb">{{ family.family.name }}</a>
{% endblock %}

{% block footer %}
{% call family_f::family_section(&family.family, true) %}
{% endblock %}