{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}add root grouping to {{ family.family.name }} - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>add root grouping to {{ family.family.name }}</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<div class="context-cards">
    <div class="context-card family-context">
        <span class="context-label">in family</span>
        <ul class="standalone-card">
            {% call u::render_language_family_card(&family) %}
        </ul>
    </div>
</div>

<p>since this is the first member in the family, it automatically forms the root.</p>

<form class="default" method="post" action="/language-families/{{ family.family.code }}/add-root/grouping">
    <section>
        <label for="title">Title</label>
        {% call u::field_error(name="title") %}
        <input type="text" id="title" name="title" required value="{{previous_title}}">
    </section>

    <section>
        <label for="notes">Notes</label>
        {% call u::field_error(name="notes") %}
        <input type="text" id="notes" name="notes" value="{{previous_notes}}">
    </section>

    <button type="submit">Add root grouping</button>
</form>
{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.family.code }}" class="breadcrumb">{{ family.family.name }}</a>
<span class="separator">/</span>
<a href="/language-families/{{ family.family.code }}/add-root" class="breadcrumb">add root</a>
{% endblock %}

{% block footer %}
{% call u::family_section(&family.family, true) %}
{% endblock %}
