{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}add root to {{ family.family.name }} - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>add root to {{ family.family.name }}</h1>

<div class="context-cards">
    <div class="context-card family-context">
        <span class="context-label">in family</span>
        <ul class="standalone-card">
            {% call u::render_language_family_card(&family) %}
        </ul>
    </div>
</div>

<p>since this is the first member in the family, it automatically forms the root.</p>

<p>do you want to add a language or a grouping?</p>

<ul>
    <li><a href="/language-families/{{ family.family.code }}/add-root/language">add language</a></li>
    <li><a href="/language-families/{{ family.family.code }}/add-root/grouping">add grouping</a></li>
</ul>

<p>a grouping is a node in the language family with no language attached.</p>

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.family.code }}" class="breadcrumb">{{ family.family.name }}</a>
{% endblock %}

{% block footer %}
{% call u::family_section(&family.family, true) %}
{% endblock %}
