{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "language_families/fragments/card.html" as family_card -%}
{%- import "language_families/members/fragments/card.html" as member_card -%}
{%- import "language_families/fragments/footer.html" as family_f -%}

{% block title %}unassociate language from {{ member.name() }} - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>unassociate language from {{ member.name() }}</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<div class="context-cards">
    <div class="context-card family-member-context">
        <span class="context-label">for member</span>
        <ul class="standalone-card">
            {% call member_card::render(&member) %}
        </ul>
    </div>
    <div class="context-card family-context">
        <span class="context-label">in family</span>
        <ul class="standalone-card">
            {% call family_card::render(&family) %}
        </ul>
    </div>
</div>

<form class="default" method="post" action="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/convert-to-grouping">
    <section>
        <p>Are you sure you want to unassociate the language from the language family member <strong>{{ member.name() }}</strong>?</p>
        <p>The language itself will not be deleted.</p>
    </section>

    <button type="submit">Unassociate</button>
</form>
{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.family.code }}" class="breadcrumb">{{ family.family.name }}</a>
<span class="separator">/</span>
<a href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}" class="breadcrumb">{{ member.name() }}</a>
{% endblock %}

{% block footer %}
{% call family_f::family_section(&family.family, true) %}
{% endblock %}
