{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "languages/fragments/card.html" as lang_card -%}
{%- import "languages/fragments/footer.html" as lang_footer -%}
{%- import "language_families/fragments/card.html" as family_card -%}
{%- import "language_families/members/fragments/card.html" as member_card -%}
{%- import "language_families/fragments/footer.html" as family_footer -%}


{% block title %}{{ name }} in {{ member.family.name }} - axismundi{% endblock %}

{% block head %}
<script src="/static/components/like-button.js" type="module" defer></script>
{% endblock %}

{% block content %}

<div class="card">
    <div class="header-with-actions">
        <div class="with-subtitle">
            <h2>{{ name }}</h2>
            <div class="contributors">
                <span>added by</span>
                {% call u::badge(&member.creator, size="small") %}
            </div>
        </div>
        <ul class="icons">
            {% if can_edit_family %}
                <li>
                    <a class="icon button gray" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/edit">
                        {% call u::icon("edit") %}
                    </a>
                </li>
                <li>
                    <a class="icon button red" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/delete">
                        {% call u::icon("delete") %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% if member.notes.is_empty() %}
        <p class="empty-description">
            no notes yet
        </p>
    {% else %}
        <p>
            {{ member.notes | safe }}
        </p>
    {% endif %}
</div>

<div class="header-with-actions">
        <h2>family</h2>
        <ul>
            {% if can_edit_family %}
                <li>
                    <a class="with-icon" href="/language-families/{{ family.family.code }}/members">
                        {% call u::icon("list") %}
                        <span>view all members</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
<ul class="card-list">
    {% call family_card::render(&family) %}
</ul>

{% if let Some(language_with_contributors) = language %}
<div class="header-with-actions">
        <h2>language</h2>
        <ul>
            {% if can_edit_family %}
                <li>
                    <a class="with-icon" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/convert-to-grouping">
                        {% call u::icon("close-small") %}
                        <span>unassociate language</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <ul class="card-list">
                {% call lang_card::render(&language_with_contributors) %}
    </ul>
{% else %}
<div class="card first-interaction-card">
    <h2>no language associated</h2>
    <p>this member does not have a language associated to it yet.</p>
    {% if can_edit_family %}
        <div class="actions">
            <a class="button primary-button" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/convert-to-language">
                associate a language
            </a>
        </div>
    {% endif %}
</div>
{% endif %}

{% if let Some(parent_member) = parent_member %}
    <div class="header-with-actions">
        <h2>parent member</h2>
        <ul>
            {% if can_edit_family %}
                <li>
                    <a class="with-icon" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/swap-with-parent">
                        {% call u::icon("swap-vertical") %}
                        <span>swap with parent</span>
                    </a>
                </li>
                <li>
                    <a class="with-icon" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/change-parent">
                        {% call u::icon("swap-horizontal") %}
                        <span>change parent</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <ul class="card-list">
        {% call member_card::render(&parent_member) %}
    </ul>
{% endif %}

{% if children.len() == 0 && can_edit_family %}
    <div class="card">
        <h2>no children yet</h2>
        <p>you can create a new member as a child of this node</p>
        <div class="actions">
            <a class="button primary-button" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/add-child">new child</a>
        </div>
    </div>
{% else if children.len() > 0 %}
    <div class="header-with-actions">
        <h2>children</h2>
        <ul>
            {% if can_edit_family %}
                <li><a class="with-icon" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/add-child">
                    <svg class="icon"><use href="#icon-plus"></use></svg>
                    <span>new child</span>
                </a></li>
            {% endif %}
            <li><a class="with-icon" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/children">
                {% call u::icon("list") %}
                <span>view all</span>
            </a></li>
        </ul>
    </div>
    <ul class="card-list">
        {% for member in children %}
            {% call member_card::render(&member) %}
        {% endfor %}
    </ul>
{% endif %}

{% if let Some(scs) = member_scs %}
    <div class="card">
        <h2>sound change set</h2>
        <p>
            this member has a sound change set associated to it, for use with deriving words.
        </p>
        <div class="actions">
            <a class="button" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/sound-change-set">
                view sound change set
            </a>
        </div>
    </div>
{% else if can_edit_family %}
    {% if let Some(_) = parent_member %}
        <div class="card">
            <h2>no sound change set</h2>
            <p>
                this member does not have a sound change set associated to it.
                in order to derive words into it automatically, you can create a sound change set for it.
            </p>
            <div class="actions">
                <a class="button primary-button" href="/language-families/{{ family.family.code }}/members/{{ member.member.id() }}/sound-change-sets/new">
                    create sound change set
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.family.code }}" class="breadcrumb">{{ family.family.name }}</a>
{% endblock %}

{% block footer %}
{% call family_footer::family_section(&family.family, can_edit_family) %}
{% if let Some(language_with_contributors) = language %}
    {% call lang_footer::language_section(&language_with_contributors.language, can_edit_language) %}
{% endif %}
{% endblock %}