main a.quoted-word {
  text-decoration: dotted underline;

  &:hover {
    color: var(--foreground-secondary);
  }
}

.translation-card > table {
  margin-top: 1rem;
  padding-top: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.9rem;

  tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  tr {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  th {
    color: var(--foreground-secondary);
    font-weight: normal;
    text-align: left;
  }
}
