{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block head %}
    <link rel="stylesheet" href="/static/components/cards/ban.css">
{% endblock %}

{% block title %}bans - axismundi{% endblock %}

{% block content %}
<div class="header-with-actions">
    <h2 class="with-action">bans</h2>
</div>

<form class="default" method="get" action="/bans">
    <div class="search-bar">
        <section class="search-controls">
            <label for="text_query">Search query</label>
            <div class="search-bar-container">
                <input type="search" id="text_query" name="text_query" value="{{ previous_query.text_query.as_ref().unwrap_or(&"".to_string()) }}">
                <button class="search button" type="submit" data-tooltip="Search" aria-label="Search">{% call u::icon("search") %}</button>
            </div>
        </section>
    </div>
</form>

{% if bans.is_empty() %}
    <p>No bans found.</p>
{% else %}
    <ul class="card-list">
        {% for ban_with_users in bans %}
            <li class="ban-card">
                <div class="left">
                    <div class="ban-info">
                        {% call u::badge(&ban_with_users.banned_by_user, size="medium") %}
                        <span class="banned-text">banned</span>
                        {% call u::badge(&ban_with_users.banned_user, size="medium") %}
                    </div>
                    <div class="ban-reason">
                        {{ ban_with_users.ban.reason }}
                    </div>
                    <div class="ban-time">
                        {% call u::relative(&ban_with_users.ban.banned_at) %}
                    </div>
                </div>
                <div class="ban-actions">
                    <a href="/admin/bans/{{ ban_with_users.banned_user.username }}/unban" class="button icon gray" data-tooltip="Unban" aria-label="Unban">
                        {% call u::icon("lock") %}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if has_more %}
        <div class="pagination">
            <a href="/bans?offset={{ pagination.offset + pagination.limit }}&limit={{ pagination.limit }}{% if let Some(q) = previous_query.text_query %}&text_query={{ q }}{% endif %}" class="button">Load more</a>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
