{%- import "util.html" as u -%}

{% macro render(set, author, link, can_edit_language) %}
    <li class="sound-change-set-preview-card preview-card">
        <a href="{{ link }}">
            <span class="left">
                <span class="title">{{ set.name }}</span>
                <span class="summary ellipse">{% if !set.description.is_empty() %}{{ crate::util::first_sentence(&set.description) }}{% endif %}</span>
                <span class="creator">
                    {% call u::user_display(&author, size="small") %}
                </span>
            </span>
        </a>
    </li>
{% endmacro %}

{% call render(set, author, link, can_edit_language) %}