{%- import "languages/fragments/footer.html" as l -%}
{%- import "util.html" as u -%}

{% macro sound_change_set_section(set, language, can_edit_language) %}
    {% call l::language_section(language, can_edit_language) %}
    <li>
        <h2>{{ set.name }}</h2>
        <ul>
            <li><a href="/languages/{{ language.code }}/sound-change-sets/{{ set.id }}">view sound change set</a></li>
            <li><a href="/sound-change-sets/{{ set.id }}/run">
                {% call u::icon("play") %}
                <span>run sound change set</span>
            </a></li>
            {% if can_edit_language %}
                <li><a href="/languages/{{ language.code }}/sound-change-sets/{{ set.id }}/edit">
                    {% call u::icon("edit") %}
                    <span>edit sound change set</span>
                </a></li>
                <li><a href="/languages/{{ language.code }}/sound-change-sets/{{ set.id }}/delete">
                    {% call u::icon("delete") %}
                    <span>delete sound change set</span>
                </a></li>
            {% endif %}
        </ul>
    </li>
{% endmacro %}

{% call sound_change_set_section(set, language, can_edit_language) %}