{% extends "layout.html" %}
{%- import "word_categories/fragments/card.html" as wc_card -%}
{%- import "languages/fragments/footer.html" as lang_f -%}

{% block title %}word categories - {{ language.name }} - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/word-class-card.css">
{% endblock %}

{% block content %}
{% if user_has_permission %}
<div class="header-with-actions">
    <h1>word categories</h1>
    <ul>
        <li><a class="with-icon" href="/languages/{{ language.code }}/new-word-category">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new word category</span>
            </a></li>
    </ul>
</div>
{% else %}
<h1>word categories</h1>
{% endif %}

{% if word_categories.is_empty() %}
    <p class="empty-description">no word categories yet</p>
{% else %}
    <ul class="card-list">
        {% for wc in word_categories %}
            {% call wc_card::render(&wc.word_category, &language.code, &wc.creator) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
{% call lang_f::language_section(&language, can_edit_language) %}
{% endblock %}
