{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "words/fragments/card.html" as word_card -%}
{%- import "translations/fragments/card.html" as translation_card -%}
{%- import "language_families/fragments/card.html" as family_card -%}
{%- import "languages/fragments/footer.html" as lang_f -%}

{% block title %}{{ language.name }} - axismundi{% endblock %}
{% block embed_title %}{{ language.name }}{% endblock %}
{% block embed_description %}{{ language.description }}{% endblock %}

{% block oembed_url_path %}{% let language_code = &language.code %}{{ crate::util::urlencode(&format!("languages/{language_code}")) }}{% endblock %}

{% block head %}
<script type="application/ld+json">
{{ json_ld | safe }}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Languages",
    "item": "{{ crate::config::CONFIG.public_url_base }}/languages"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "{{ language.name }}",
    "item": "{{ crate::config::CONFIG.public_url_base }}/languages/{{ language.code }}"
  }]
}
</script>
<script src="/static/like-button.js" type="module" defer></script>
<link rel="stylesheet" href="/static/language-view.css">
<link rel="stylesheet" href="/static/word-card.css">
<link rel="stylesheet" href="/static/translation-card.css">
<link rel="stylesheet" href="/static/phonology-table.css">
{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

{% if let Some((invite, sender)) = &pending_invite %}
<div class="invite-banner card">
    <p>
        You've been invited by
        {% call u::badge(sender, size="small") %}
        to collaborate as a <strong>{{ invite.permissions.display_name() }}</strong> on this language.
    </p>
    <div class="actions">
        <form method="post" class="default" action="/languages/{{ language.code }}/invites/accept">
            <button type="submit" class="button primary">Accept</button>
        </form>
        <form method="post" class="default" action="/languages/{{ language.code }}/invites/dismiss" >
            <button type="submit" class="button secondary">Dismiss</button>
        </form>
    </div>
</div>
{% endif %}

<div class="language-card-full full-card card">
    {% if let Some(banner_url) = language.get_banner_url() %}
        <div class="banner"><img src="{{ banner_url }}" alt="" aria-hidden="true"></div>
    {% endif %}
    <div class="header-with-actions">
        <h1>{{ language.name }}</h1>
        <ul class="icons">
            {% if can_edit_language %}
                <li><a class="icon button gray" href="/languages/{{ language.code }}/edit" data-tooltip="Edit language">
                    {% call u::icon("edit") %}
                </a></li>
            {% endif %}
            {% if can_delete_language %}
                <li><a class="icon button gray" href="/languages/{{ language.code }}/delete" data-tooltip="Delete language">
                    {% call u::icon("delete") %}
                </a></li>
            {% endif %}
            <li><span class="likes like-button {% if is_liked %}liked{% endif %}" data-target="/api/languages/{{ language.code }}" data-tooltip="Like this language" role="button">
                <span class="icon-button-container yellow">
                    <svg class="icon when-unliked"><use href="#icon-star-outline"></use></svg>
                    <svg class="icon when-liked"><use href="#icon-star-filled"></use></svg>
                </span>
                <span class="like-count">{{ language.like_count }}</span>
            </span></li>
        </ul>
    </div>


    {% if !rendered_description.is_empty() %}
        <p>{{ rendered_description | safe }}</p>
    {% else %}
        <p class="empty-description">no description yet</p>
    {% endif %}

    <table>
        <tr>
            <th>created</th>
            <td>{% call u::relative(&language.created_at) %}</td>
        </tr>
        {% call u::meta_contributors_row(top_contributors, contributors_link) %}
        {% call u::meta_updated_row(&language.updated_at, updater.as_ref()) %}
        <tr>
            <th>words</th>
            <td>{{ word_count }}</td>
        </tr>
        <tr>
            <th>translations</th>
            <td>{{ translation_count }}</td>
        </tr>
    </table>
</div>

{% if phonology_tables.len() > 0 %}
   <div class="header-with-actions">
        <h2>phonology</h2>
        <ul>
        {% if can_edit_language %}
            <li><a class="with-icon" href="/languages/{{ language.code }}/phonology-tables/new">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new phonology table</span>
            </a></li>
        {% endif %}
        <li><a class="with-icon" href="/languages/{{ language.code }}/phonology-tables">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
   </div>
    {% for table in phonology_tables %}
        {{ table | safe }}
    {% endfor %}
{% elif can_edit_language %}
    <div class="card first-interaction-card">
        <h2>no phonology tables yet</h2>
        <p>create the first phonology table in this language to get started</p>
        <div class="actions">
            <a class="button primary-button" href="/languages/{{ language.code }}/phonology-tables/new">new phonology table</a>
        </div>
    </div>
{% endif %}

{% if recent_words.len() == 0 && can_edit_language %}
<div class="card first-interaction-card">
    <h2>no words yet</h2>
    <p>create the first word in this language to get started</p>
    <div class="actions">
        <a class="button primary-button" href="/languages/{{ language.code }}/new-word">new word</a>
    </div>
</div>

{% else %}
<div class="header-with-actions">
    <h2>words</h2>
    <ul>
        {% if can_edit_language %}
            <li><a class="with-icon" href="/languages/{{ language.code }}/new-word">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new word</span>
            </a></li>
        {% endif %}
        <li><a class="with-icon" href="/languages/{{ language.code }}/words">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for word_with_meta in recent_words %}
        {% call word_card::render(&word_with_meta) %}
    {% endfor %}
</ul>

{% if recent_words.len() <= 0 %}
    <p class="empty-description">no words yet</p>
{% endif %}

{% endif %}

{% if let Some(primary_family) = &primary_family %}
    <div class="header-with-actions">
        <h2>in family</h2>
        <ul>
            <li><a class="with-icon" href="/languages/{{ language.code }}/relatives">
                {% call u::icon("list") %}
                <span>view all relatives</span>
            </a></li>
        </ul>
    </div>
    <ul class="card-list">
        {% call family_card::render(&primary_family) %}
    </ul>
{% endif %}

{% if recent_translations.len() == 0 && can_edit_language %}
<div class="card">
    <h2>no translations yet</h2>
    <p>create the first translation in this language to get started</p>
    <div class="actions">
        <a class="button primary-button" href="/translatables">find something to translate</a>
    </div>
</div>
{% else %}

<div class="header-with-actions">
    <h2>translations</h2>
    <ul>
        <li><a class="with-icon" href="/languages/{{ language.code }}/translations">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>

<ul class="card-list">
{% for translation_with_meta in recent_translations %}
    {% call translation_card::render(translation_with_meta, back="", kind="language") %}
{% endfor %}
</ul>

{% if recent_translations.len() <= 0 %}
    <p class="empty-description">no translations yet</p>
{% endif %}
{% endif %}

{% endblock %}

{% block footer %}
{% call lang_f::language_section(&language, can_edit_language) %}
{% endblock %}
