{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}edit translation - axismundi{% endblock %}

{% block head %}
    <script>
        window.language = {
            name: "{{ language.name }}",
            code: "{{ language.code }}",
        }
    </script>
    <link rel="stylesheet" href="/static/slate-editor.css">
    <script src="/static/annotation.js" defer></script>
{% endblock %}
{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>edit translation</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<div class="context-cards">
    <div class="context-card language-context">
        <span class="context-label">for language</span>
        <ul class="standalone-card">
            {% call u::render_language_card(&language_with_contributors) %}
        </ul>
    </div>
    <div class="context-card translatable-context">
        <span class="context-label">translatable</span>
        <div class="context-card-link">
            <span class="context-title">{{ translatable.title }}</span>
            <span class="context-text">{{ translatable.english }}</span>
        </div>
    </div>
</div>

<form class="default" method="post" action="/translatable/{{ translatable.slug }}/edit-translation">
    <section>
        <label for="translated_text">Translated text</label>
        {% call u::field_error(name="translated_text") %}
        <div id="annotation-editor-root">
        <textarea id="translated_text" name="translated_text" required>{{ previous_translated_text }}</textarea>
    </div></section>


    <input type="hidden" name="language_id" value="{{ language.id }}">

    <button type="submit">Save changes</button>
</form>

{% endblock %}

{% block footer %}
{% call u::translatable_section(&translatable, can_edit_translatable) %}
{% call u::language_section(&language, can_edit_language) %}
{% call u::translation_section(&translatable, &language, &translation, can_edit_translation) %}
{% endblock %}