{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "languages/fragments/card.html" as lang_card -%}
{%- import "languages/fragments/footer.html" as lang_f -%}
{%- import "translatables/fragments/footer.html" as ts_f -%}
{%- import "translatables/fragments/full_card.html" as translatable_full_card -%}

{% block head %}
<script src="/static/tooltip.js" defer></script>
<script src="/static/time.js" type="module" defer></script>
<script src="/static/language-card.js" defer></script>
<link rel="stylesheet" href="/static/language-card.css">
<link rel="stylesheet" href="/static/tooltip.css">
<script src="/static/like-button.js" type="module" defer></script>
<link rel="stylesheet" href="/static/translatables/full-card.css">
{% endblock %}

{% block title %}new translation - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>new translation</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

{% call translatable_full_card::render(&translatable_with_meta, can_edit_translatable, &rendered_description) %}

<div class="context-cards">
    <div class="context-card language-context">
        <span class="context-label">for language</span>
        <ul class="standalone-card">
            {% call lang_card::render(&language_with_contributors) %}
        </ul>
    </div>
</div>

<form class="default" method="post" action="/translatable/{{ translatable_with_meta.translatable.slug }}/new-translation-2">
    <section>
        <label for="translated_title">Translated title (optional)</label>
        {% call u::field_error(name="translated_title") %}
        <input type="text" id="translated_title" name="translated_title" value="{{ previous_translated_title }}">
    </section>

    <section>
        <label for="translated_text">Translated text</label>
        {% call u::field_error(name="translated_text") %}
        <textarea id="translated_text" name="translated_text" required>{{ previous_translated_text }}</textarea>
    </section>

    <section>
        <label for="ipa">IPA transcription</label>
        {% call u::field_error(name="ipa") %}
        <textarea id="ipa" name="ipa">{{ previous_ipa }}</textarea>
    </section>

    <section>
        <label for="gloss">Gloss</label>
        {% call u::field_error(name="gloss") %}
        <textarea id="gloss" name="gloss">{{ previous_gloss }}</textarea>
        <span class="hint">in leipzig notation</span>
    </section>

    <section>
        <label for="notes">Notes</label>
        {% call u::field_error(name="notes") %}
        <textarea id="notes" name="notes">{{ previous_notes }}</textarea>
    </section>

    <input type="hidden" name="language_id" value="{{ language.id }}">

    <button type="submit">Create translation</button>
</form>

{% endblock %}

{% block footer %}
{% call ts_f::translatable_section(&translatable_with_meta.translatable, can_edit_translatable) %}
{% call lang_f::language_section(&language, can_edit_language) %}
{% endblock %}