{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "languages/fragments/footer.html" as lang_f -%}
{%- import "translatables/fragments/footer.html" as ts_f -%}

{% block title %}new translation - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>new translation</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="post" action="/translatable/{{ translatable_id }}/new-translation-1">
    <section>
        <label for="language_code">Language to translate into</label>
        {% call u::field_error(name="language_code") %}
        <div class="select-container">
            <select id="language_code" name="language_code" required>
                <option value="" disabled selected>-- select a language --</option>
                {% for language in available_languages %}
                    <option value="{{ language.code }}" {% if previous_language_code == language.code %}selected{% endif %}>{{ language.name }} ({{ language.code }})</option>
                {% endfor %}
            </select>
            {% call u::icon("chevron-down") %}
        </div>
    </section>

    <button type="submit">Continue</button>
</form>

{% endblock %}

{% block footer %}
{% call ts_f::translatable_section(&translatable, can_edit_translatable) %}
{% if let Some(lang) = language %}
{% call lang_f::language_section(lang, can_edit_language) %}
{% endif %}
{% endblock %}