{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}new translation - axismundi{% endblock %}

{% block content %}
<h1>new translation</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="post" action="/translatable/{{ translatable_id }}/new-translation">
    <section>
        <label for="language_code">Language to translate into</label>
        {% call u::field_error(name="language_code") %}
        <select id="language_code" name="language_code" required>
            <option value="" disabled selected>Select a language</option>
            {% for language in available_languages %}
                <option value="{{ language.code }}" {% if previous_language_code == language.code %}selected{% endif %}>{{ language.name }} ({{ language.code }})</option>
            {% endfor %}
        </select>
    </section>

    <input type="hidden" name="step" value="1">

    <button type="submit">Continue</button>
</form>

{% endblock %}

{% block footer %}
<footer>
  <ul>
    <li>
      <h2>axismundi</h2>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/translatables">translatables</a></li>
        <li><a href="/languages">languages</a></li>
        <li><a href="/users">users</a></li>
        {% if current_user.is_some() %}
          <li><a href="/users/{{ current_user.as_ref().unwrap().username }}">my profile</a></li>
          <li><a href="/settings">settings</a></li>
        {% endif %}
      </ul>
    </li>
    <li>
        <h2>{{ translatable.title }}</h2>
        <ul>
            <li><a href="/translatable/{{ translatable.slug }}">view translatable</a></li>
            <li><a href="/translatable/{{ translatable.slug }}/translations">view translations</a></li>
            {% if can_edit_translatable %}
                <li><a href="/translatable/{{ translatable.slug }}/edit">edit translatable</a></li>
            {% endif %}
        </ul>
    </li>
    {% if let Some(lang) = language %}
    <li>
      <h2>{{ lang.name }}</h2>
      <ul>
        <li><a href="/languages/{{ lang.code }}">main page</a></li>
        <li><a href="/languages/{{ lang.code }}/words">dictionary</a></li>
        <li><a href="/languages/{{ lang.code }}/word-classes">word classes</a></li>
        <li><a href="/languages/{{ lang.code }}/contributors">contributors</a></li>
        {% if can_edit_language %}
            <li><a href="/languages/{{ lang.code }}/edit">edit language</a></li>
            <li><a href="/languages/{{ lang.code }}/invites">invites</a></li>
        {% endif %}
    </li>
    {% endif %}
  </ul>
</footer>
{% endblock %}