.markdown {
  max-width: 70ch;

  line-height: var(--leading-normal);

  :is(h1, h2, h3, h4) {
    line-height: var(--leading-tight);

    + & {
      margin-top: 0;
    }
  }

  p + :is(h1, h2) {
    margin-top: var(--space-10);
  }
  p + :is(h3, h4) {
    margin-top: var(--space-6);
  }

  h3,
  h4 {
    font-family: var(--font-heading);
    margin: var(--space-3) 0;
  }

  h3 {
    font-size: var(--text-lg);
  }

  h4 {
    font-size: var(--text-md);
  }

  p {
    margin: 1.2rem 0;
  }

  pre,
  code {
    background-color: var(--background-intermediate);
    border-radius: var(--rounding);
    border: var(--border);
  }

  pre code {
    background-color: none;
    border: none;
  }

  pre code,
  code {
    font-family: var(--font-monospace);
  }

  pre {
    overflow-x: auto;
    padding: 0.5rem;
  }

  code {
    padding: 0.125rem 0.25rem;
    font-size: var(--text-sm);
  }

  ul,
  ol {
    margin: var(--space-5) 0;
    padding-inline-start: var(--space-6);

    & > li::marker {
      color: var(--foreground-secondary);
    }
  }

  ul > li {
    list-style-type: disc;
  }

  ol > li {
    list-style-type: decimal;
  }

  li {
    padding-inline-start: var(--space-2);
    margin: var(--space-2) 0;

    p:has(+ p) {
      margin-bottom: var(--space-2);
    }

    p + p {
      margin-top: var(--space-2);
    }
  }

  img {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
    border-radius: var(--rounding);
  }
}
