{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}word classes - {{ language.name }} - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/word-class-card.css">
{% endblock %}

{% block content %}
{% if user_has_permission %}
<div class="header-with-actions">
    <h1>word classes</h1>
    <ul>
        <li><a class="with-icon" href="/languages/{{ language.code }}/new-word-class">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new word class</span>
            </a></li>
    </ul>
</div>
{% else %}
<h1>word classes</h1>
{% endif %}

{% if word_classes.is_empty() %}
    <p class="empty-description">no word classes yet</p>
{% else %}
    <ul class="card-list">
        {% for wc in word_classes %}
            {% call u::render_word_class_card(&wc.word_class, &language.code, &wc.creator) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
{% call u::language_section(&language, can_edit_language) %}
{% endblock %}
