{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}new word class - {{ language.name }} - axismundi{% endblock %}

{% block content %}
<h1>{{ language.name }} - new word class</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="post" action="/languages/{{ language.code }}/new-word-class">
    <section>
        <label for="abbreviation">Abbreviation</label>
        {% call u::field_error(name="abbreviation") %}
        <input type="text" id="abbreviation" name="abbreviation" required value="{{previous_abbreviation}}">
        <span class="hint">short form (e.g., "n", "v", "adj")</span>
    </section>

    <section>
        <label for="name">Name</label>
        {% call u::field_error(name="name") %}
        <input type="text" id="name" name="name" required value="{{previous_name}}">
        <span class="hint">full name (e.g., "noun", "verb", "adjective")</span>
    </section>

    <button type="submit">Create word class</button>
</form>

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
<footer>
  <ul>
    <li>
      <h2>axismundi</h2>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/translatables">translatables</a></li>
        <li><a href="/languages">languages</a></li>
        <li><a href="/users">users</a></li>
        {% if current_user.is_some() %}
          <li><a href="/users/{{ current_user.as_ref().unwrap().username }}">my profile</a></li>
          <li><a href="/settings">settings</a></li>
        {% endif %}
      </ul>
    </li>
    <li>
      <h2>{{ language.name }}</h2>
      <ul>
        <li><a href="/languages/{{ language.code }}">main page</a></li>
        <li><a href="/languages/{{ language.code }}/words">dictionary</a></li>
        <li><a href="/languages/{{ language.code }}/word-classes">word classes</a></li>
        <li><a href="/languages/{{ language.code }}/contributors">contributors</a></li>
        {% if can_edit_language %}
            <li><a href="/languages/{{ language.code }}/edit">edit language</a></li>
            <li><a href="/languages/{{ language.code }}/invites">invites</a></li>
        {% endif %}
    </li>
  </ul>
</footer>
{% endblock %}