{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}{{ word_class.name }} - {{ language.name }} - axismundi{% endblock %}

{% block content %}
<h1>{{ language.name }} - {{ word_class.name }}</h1>

{% if let Some(_user) = current_user %}
    <a href="/languages/{{ language.code }}/word-classes/{{ word_class.abbreviation }}/edit" class="button">edit</a>
    <form method="post" action="/languages/{{ language.code }}/word-classes/{{ word_class.abbreviation }}/delete" style="display: inline;">
        <button type="submit" onclick="return confirm('Are you sure you want to delete this word class?');">delete</button>
    </form>
{% endif %}

<dl>
    <dt>Abbreviation</dt>
    <dd>{{ word_class.abbreviation }}</dd>

    <dt>Name</dt>
    <dd>{{ word_class.name }}</dd>

    <dt>Created</dt>
    <dd>{{ word_class.created_at }}</dd>

    <dt>Updated</dt>
    <dd>{{ word_class.updated_at }}</dd>
</dl>

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
<footer>
  <ul>
    <li>
      <h2>axismundi</h2>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/translatables">translatables</a></li>
        <li><a href="/languages">languages</a></li>
        <li><a href="/users">users</a></li>
        {% if current_user.is_some() %}
          <li><a href="/users/{{ current_user.as_ref().unwrap().username }}">my profile</a></li>
          <li><a href="/settings">settings</a></li>
        {% endif %}
      </ul>
    </li>
    <li>
      <h2>{{ language.name }}</h2>
      <ul>
        <li><a href="/languages/{{ language.code }}">main page</a></li>
        <li><a href="/languages/{{ language.code }}/words">dictionary</a></li>
        <li><a href="/languages/{{ language.code }}/word-classes">word classes</a></li>
        <li><a href="/languages/{{ language.code }}/contributors">contributors</a></li>
        {% if can_edit_language %}
            <li><a href="/languages/{{ language.code }}/edit">edit language</a></li>
            <li><a href="/languages/{{ language.code }}/invites">invites</a></li>
        {% endif %}
    </li>
  </ul>
</footer>
{% endblock %}