{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}clear source for {{ translatable.title }}? - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>clear source for {{ translatable.title }}</h1>

<form class="default" method="post" action="/translatable/{{ translatable.slug }}/clear-source">
    <section>
        <p>Are you sure you want to clear the source for <strong>{{ translatable.title }}</strong>?</p>
        <p>This action cannot be undone. It will not remove the translatable itself; only the information about the original source.</p>
    </section>

    <section class="button-row">
        <button type="submit" class="danger">Clear source</button>
    </section>
</form>

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/translatables/{{ translatable.slug }}" class="breadcrumb">{{ translatable.title }}</a>
{% endblock %}

{% block footer %}
{% call u::translatable_section(&translatable, true) %}
{% endblock %}
