{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "translatables/fragments/footer.html" as ts_f -%}

{% block title %}edit translatable - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/components/markdown-editor/markdown-editor.css">
<script type="module" defer src="/static/components/markdown-editor/markdown-editor.js"></script>
{% endblock %}

{% block content %}
<h1>edit translatable</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<p>
To edit information about the source text, such as the original title, language, or content,
go to the <a href="/translatable/{{ translatable.slug }}/edit-source">edit source</a> page.
</p>

<form class="default" method="post" action="/translatable/{{ translatable.slug }}/edit">
    <section>
        <label for="title">Title</label>
        {% call u::field_error(name="title") %}
        <input type="text" id="title" name="title" required value="{{previous_title}}">
    </section>

    <section>
        <label for="description" id="description-label">Description (optional)</label>
        {% call u::field_error(name="description") %}
        <textarea id="description" name="description">{{previous_description}}</textarea>
    </section>

    <section>
        <label for="english">Source text</label>
        {% call u::field_error(name="english") %}
        <textarea id="english" name="english" required rows="10">{{previous_english}}</textarea>
    </section>

    <button type="submit">Save changes</button>
</form>
<script type="module">
  window.addEventListener('DOMContentLoaded', () => {
    if (window.mountMarkdownEditor) {
      window.mountMarkdownEditor('#description', 'description-label');
    }
  });
</script>
{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/translatables/{{ translatable.slug }}" class="breadcrumb">{{ translatable.title }}</a>
{% endblock %}

{% block footer %}
{% call ts_f::translatable_section(&translatable, true) %}
{% endblock %}