{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}edit translatable - axismundi{% endblock %}

{% block content %}
<h1>edit translatable</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="post" action="/translatable/{{ translatable.slug }}/edit">
    <section>
        <label for="title">Title</label>
        {% call u::field_error(name="title") %}
        <input type="text" id="title" name="title" required value="{{previous_title}}">
    </section>

    <section>
        <label for="english">Source text</label>
        {% call u::field_error(name="english") %}
        <textarea id="english" name="english" required rows="10">{{previous_english}}</textarea>
    </section>

    <button type="submit">Edit translatable</button>
</form>

{% endblock %}

{% block footer %}
{% call u::translatable_section(&translatable, true) %}
{% endblock %}