{% extends "search_layout.html" %}
{%- import "util.html" as u -%}

{% block title %}search translatables - axismundi{% endblock %}

{% block header %}
<div class="header-with-actions">
    <h1>search translatables</h1>
    <ul>
        <li>
            <a class="with-icon" href="/new-translatable">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new translatable</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block advanced_search %}
<p>Advanced search options soon...</p>
{% endblock %}

{% block search_results %}
    {% for translatable_with_meta in results.items %}
        {% call u::translatable_card(translatable_with_meta, &back_url) %}
    {% endfor %}
{% endblock %}
