{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "translatables/fragments/card.html" as tc -%}

{% block title %}search translatables - axismundi{% endblock %}

{% block head %}

<script src="/static/like-button.js" defer></script>

{% endblock %}

{% block content %}
<div class="header-with-actions">
    <h1>search translatables</h1>
    <ul>
        <li>
            <a class="with-icon" href="/new-translatable">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new translatable</span>
            </a>
        </li>
    </ul>
</div>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default search" method="get" action="/translatables">
    <div class="search-bar">
        <section class="search-controls">
            <label for="q">Search query</label>
            {% call u::field_error(name="q") %}
            <div class="search-bar-container">
                <input type="search" id="q" name="q" value="{{ query.q.as_ref().unwrap_or(&"".to_string()) }}">
                <button class="search button" type="submit" data-tooltip="Search" aria-label="Search">{% call u::icon("search") %}</button>

                <input type="checkbox" id="advanced-search-toggle" aria-label="Advanced search" >
                <label id="advanced-search-toggle-label" for="advanced-search-toggle" data-tooltip="Advanced search">{% call u::icon("filter") %}</label>
            </div>
            <section class="advanced-search-panel">
                <div class="inner">
                    <div class="card">
                        <h2>options</h2>
                        <p>Advanced search options soon...</p>
                    </div>
                </div>
            </section>
        </section>

    </div>
</form>

{% if let Some(results) = results %}
    {% if results.items.is_empty() %}
        <p>No results found.</p>
    {% else %}
        <ul class="card-list">
            {% for translatable_with_meta in results.items %}
                {% call tc::render(translatable_with_meta, &back_url) %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{{ pagination | safe }}

{% endblock %}
