{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}search translatables - axismundi{% endblock %}

{% block content %}
<h1>search translatables</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="get" action="/translatables">
    <div class="search-bar">
        <section>
            <label for="q">Search query</label>
            {% call u::field_error(name="q") %}
            <input type="text" id="q" name="q" required value="{{ previous_query }}">
        </section>    

        <button type="submit">Search</button>
    </div>
    <details>
        <summary>Advanced options</summary>
        <section>
        </section>
    </details>
</form>

{% if let Some(results) = results %}
    {% if results.is_empty() %}
        <p>No results found.</p>
    {% else %}
        <ul class="translatable-list">
            {% for translatable in results %}
                <li>
                    <a href="/translatable/{{ translatable.slug }}">
                        {{ translatable.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% endblock %}
