{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}{{ translatable_with_meta.translatable.title }} - axismundi{% endblock %}
{% block embed_title %}{{ translatable_with_meta.translatable.title }}{% endblock %}
{% block embed_description %}{{ translatable_with_meta.translatable.english }}{% endblock %}
{% block oembed_url_path %}{% let slug = &translatable_with_meta.translatable.slug %}{{ crate::util::urlencode(&format!("translatable/{slug}")) }}{% endblock %}

{% block head %}
<script type="application/ld+json">
{{ json_ld | safe }}
</script>
<script src="/static/like-button.js" type="module" defer></script>
<link rel="stylesheet" href="/static/translation-card.css">
<link rel="stylesheet" href="/static/translatables/card.css">
{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

{% call u::translatable_full_card(&translatable_with_meta, can_edit_translatable, &rendered_description) %}

{% if translations.len() == 0 && current_user.is_some() %}
<h2>translations</h2>
<div class="card">
    <h2>no translations yet</h2>
    <p>create the first translation for this text</p>
    <div class="actions">
        <a class="button primary-button" href="/translatable/{{ translatable_with_meta.translatable.slug }}/new-translation">new translation</a>
    </div>
</div>

{% else %}

<div class="header-with-actions">
    <h2>translations</h2>
    <ul>
        <li><a class="with-icon" href="/translatable/{{ translatable_with_meta.translatable.slug }}/new-translation">
            <svg class="icon"><use href="#icon-plus"></use></svg>
            <span>add new</span>
        </a></li>
        <li><a class="with-icon" href="/translatable/search">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M9 18h11v-2.675H9zM4 8.675h3V6H4zm0 4.675h3v-2.675H4zM4 18h3v-2.675H4zm5-4.65h11v-2.675H9zm0-4.675h11V6H9zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20z"/></svg>
            <span>view all</span>
        </a></li>
    </ul>
</div>

<ul class="card-list">
{% for translation in translations %}
    {% call u::render_translation_card(&translation, &translation.language.code) %}
{% endfor %}
</ul>

{% if translations.len() <= 0 %}
    <p class="empty-description">no translations yet</p>
{% endif %}

{% endif %}


{% endblock %}

{% block footer %}
{% call u::translatable_section(&translatable_with_meta.translatable, can_edit_translatable) %}
{% endblock %}