{% extends "layout.html" %}
{%- import "languages/fragments/card.html" as lang_card -%}
{%- import "languages/fragments/footer.html" as lang_f -%}

{% block title %}search phonology tables in {{ language.language.name }} - axismundi{% endblock %}

{% block head %}


<style>
    form.default {
        margin-bottom: 0;
    }

    div.card {
        margin-bottom: .5rem;
    }
</style>
<link rel="stylesheet" href="/static/components/phonology-table.css">
{% endblock %}

{% block content %}
<div class="context-cards">
    <div class="context-card language-context">
        <span class="context-label">in language</span>
        <ul class="standalone-card">
            {% call lang_card::render(&language) %}
        </ul>
    </div>
</div>

<div class="header-with-actions">
    <h1 class="with-action">search phonology tables</h1>
    {% if can_edit_language %}
        <ul>
            <li><a class="with-icon" href="/languages/{{ language.language.code }}/phonology-tables/new">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new phonology table</span>
            </a></li>
        </ul>
    {% endif %}
</div>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="get" action="/languages/{{ language.language.code }}/phonology-tables">
    <div class="search-bar">
        <section class="search-controls">
            <label for="q">Search query</label>
            <div class="search-bar-container">
                <input type="search" id="q" name="q" value="{{ previous_query.q.as_ref().unwrap_or(&"".to_string()) }}">
                <button class="search button" type="submit" data-tooltip="Search" aria-label="Search">{% call u::icon("search") %}</button>

                <input type="checkbox" id="advanced-search-toggle" aria-label="Advanced search">
                <label id="advanced-search-toggle-label" for="advanced-search-toggle" data-tooltip="Advanced search">{% call u::icon("filter") %}</label>
            </div>
            <section class="advanced-search-panel">
                <div class="inner">
                    <div class="card">
                        <h2>options</h2>

                        <section>
                            <label for="created_after">Created after</label>
                            <input type="date" id="created_after" name="created_after" value="{% if let Some(date) = previous_query.created_after %}{{ date.format("%Y-%m-%d").to_string() }}{% endif %}">
                        </section>

                        <section>
                            <label for="created_before">Created before</label>
                            <input type="date" id="created_before" name="created_before" value="{% if let Some(date) = previous_query.created_before %}{{ date.format("%Y-%m-%d").to_string() }}{% endif %}">
                        </section>
                    </div>
                </div>
            </section>
        </section>
    </div>
</form>

{% if let Some(results) = results %}
    {% if results.items.is_empty() %}
        <p>No results found.</p>
    {% else %}
        <ul class="card-list">
            {% for table in &rendered_tables %}
                <li>{{ table | safe }}</li>
            {% endfor %}
        </ul>
        <nav class="pagination">
            <div class="pages">
                <a class="button icon gray" aria-label="First page" data-tooltip="First page" href="/languages/{{ language.language.code }}/phonology-tables?{{ crate::util::serialize_search(&previous_pagination, previous_query) }}">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m7.825 12l3.875 3.9q.275.275.288.688t-.288.712q-.275.275-.7.275t-.7-.275l-4.6-4.6q-.15-.15-.213-.325T5.426 12t.063-.375t.212-.325l4.6-4.6q.275-.275.688-.287t.712.287q.275.275.275.7t-.275.7zm6.6 0l3.875 3.9q.275.275.288.688t-.288.712q-.275.275-.7.275t-.7-.275l-4.6-4.6q-.15-.15-.213-.325T12.026 12t.063-.375t.212-.325l4.6-4.6q-.275-.275.688-.287t.712.287q.275.275.275.7t-.275.7z"/></svg>
                </a>
                {% if previous_pagination.offset == 0 %}
                    <span class="empty-pagination-button">·</span>
                {% else %}
                    <a class="button icon gray" aria-label="Previous page" data-tooltip="Previous page" href="/languages/{{ language.language.code }}/phonology-tables?{{ crate::util::serialize_search(&previous_pagination.with_previous_page(), previous_query) }}">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m10.8 12l3.9 3.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-4.6-4.6q-.15-.15-.212-.325T8.425 12t.063-.375t.212-.325l4.6-4.6q.275-.275.7-.275t.7.275t.275.7t-.275.7z"/></svg>
                    </a>
                {% endif %}
                <span class="page-info">Page {{ results.current_page() }} of {{ results.total_pages() }}</span>
                {% if results.has_more %}
                    <a class="button icon gray" aria-label="Next page" data-tooltip="Next page" href="/languages/{{ language.language.code }}/phonology-tables?{{ crate::util::serialize_search(&previous_pagination.with_next_page(), previous_query) }}">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"/></svg>
                    </a>
                {% else %}
                    <span class="empty-pagination-button">·</span>
                {% endif %}
                <a class="button icon gray" aria-label="Last page" data-tooltip="Last page" href="/languages/{{ language.language.code }}/phonology-tables?{{ crate::util::serialize_search(&results.request_last_page(), previous_query) }}">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M9.575 12L5.7 8.1q-.275-.275-.288-.687T5.7 6.7q.275-.275.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.687.288T5.7 17.3q-.275-.275-.275-.7t.275-.7zm6.6 0L12.3 8.1q-.275-.275-.288-.687T12.3 6.7q.275-.275.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.687.288T12.3 17.3q-.275-.275-.275-.7t.275-.7z"/></svg>
                </a>
            </div>
            <div class="meta">
                <span class="total-results">{{ results.results_text() }}</span>
            </div>
        </nav>
    {% endif %}
{% endif %}

{% endblock %}

{% block footer %}
{% call lang_f::language_section(&language.language, can_delete_language) %}
{% endblock %}