{%- import "util.html" as u -%}

{% macro family_card(family_with_contributors, back="") %}
<li class="language-family-card preview-card">
    <a href="/language-families/{{ family_with_contributors.family.code }}{% if !back.is_empty() %}?back={{ back|urlencode }}{% endif %}">
        <span class="left">
            <span class="title">{{ family_with_contributors.family.name }}</span>
            {% if !family_with_contributors.family.description.is_empty() %}
                <span class="summary ellipse">{{ crate::util::first_sentence(&family_with_contributors.family.description) }}</span>
            {% else %}
                <span class="summary ellipse empty-description">no description yet</span>
            {% endif %}
            <ul class="contributor-list">
                {% for contributor in family_with_contributors.contributors %}
                <li class="compressed-pfps">
                    {% call u::pfp(&contributor, size="small") %}
                </li>
                {% endfor %}
            </ul>
        </span>
        <span class="likes like-button {% if family_with_contributors.family.like_count > 0 %}liked{% endif %}" data-target="/api/language-families/{{ family_with_contributors.family.code }}" data-tooltip="Like this language family" role="button">
            <span class="icon-button-container yellow">
                <svg class="icon when-unliked" width="32" height="32"><use href="#icon-star-outline"></use></svg>
                <svg class="icon when-liked" width="32" height="32"><use href="#icon-star-filled"></use></svg>
            </span>
            <span class="like-count">{{ family_with_contributors.family.like_count }}</span>
        </span>
    </a>
</li>
{% endmacro %}

{% call family_card(family_with_contributors, back_url) %}
