{% macro family_section(family, can_edit_family) %}
<li>
    <h2>{{ family.name }}</h2>
    <ul>
        <li><a href="/language-families/{{ family.code }}">view language family</a></li>
        <li><a href="/language-families/{{ family.code }}/members">members</a></li>
        <li><a href="/language-families/{{ family.code }}/contributors">contributors</a></li>
        {% if can_edit_family %}
            <li><a href="/language-families/{{ family.code }}/edit">edit language family</a></li>
            <li><a href="/language-families/{{ family.code }}/add-member">add member</a></li>
            <li><a href="/language-families/{{ family.code }}/invites">invites</a></li>
        {% endif %}
    </ul>
</li>
{% endmacro %}

{% call family_section(family, can_edit_family) %}
