{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "sound-change-sets/fragments/footer.html" as scs_f -%}

{% block title %}edit {{ sound_change_set.name }} - {{ language.name }} - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/components/markdown-editor/markdown-editor.css">
<script type="module" defer src="/static/components/markdown-editor/markdown-editor.js"></script>
{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>edit {{ sound_change_set.name }}</h1>

{% call u::top_level_error() %}

<div class="info-banner">
  <p>to edit the sound changes themselves, go to the runner</p>
  <div class="actions">
    <a href="/sound-change-sets/run?set={{ sound_change_set.id }}" class="button primary">open runner</a>
  </div>
</div>

<form class="default" method="post" action="/languages/{{ language.code }}/sound-change-sets/{{ sound_change_set.id }}/edit" id="edit-sound-change-set-form">
    <section>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ previous_name }}" required>
        {% call u::field_error("name") %}
    </section>

    <section>
        <label for="description" id="description-label">Description (optional)</label>
        {% call u::field_error(name="description") %}
        <textarea id="description" name="description" rows="4">{{ previous_description }}</textarea>
    </section>


    <section class="button-row">
        <button type="submit">Save</button>
    </section>
</form>

<script type="module">
  window.addEventListener('DOMContentLoaded', () => {
    if (window.mountMarkdownEditor) {
      window.mountMarkdownEditor('#description', 'description-label');
    }
  });
</script>
{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
<span class="separator">/</span>
<a href="/languages/{{ language.code }}/sound-change-sets" class="breadcrumb">sound change sets</a>
<span class="separator">/</span>
<a href="/languages/{{ language.code }}/sound-change-sets/{{ sound_change_set.id }}" class="breadcrumb">{{ sound_change_set.name }}</a>
{% endblock %}

{% block footer %}
{% call scs_f::sound_change_set_section(&sound_change_set, &language, can_edit_language) %}
{% endblock %}
