{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "languages/fragments/card.html" as lang_card -%}
{%- import "language_families/members/fragments/card.html" as member_card -%}
{%- import "language_families/fragments/footer.html" as family_footer -%}
{%- import "sound-change-sets/fragments/footer.html" as scs_f -%}

{% block title %}{{ set.name }}{% if let Some(lang) = language %} in {{ lang.language.name }}{% endif %} - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/page/sound-changes/view.css">
<link rel="stylesheet" href="/static/page/sound-changes/runner/sound-changer.css">
<link rel="stylesheet" href="/static/components/metadata-table.css">
<script src="/static/components/like-button.js" type="module" defer></script>
<script src="/static/page/sound-changes/view.js" type="module" defer></script>
<link rel="stylesheet" href="/static/components/metadata-table.css">
{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

<div class="sound-change-card full-card card">
    <div class="header-with-actions">
        <h1>{{ set.name }}</h1>
        <ul class="icons">
            {% if can_edit %}
                {% if let Some(lang) = language %}
                    <li>
                        <a class="button icon gray" href="/languages/{{ lang.language.code }}/sound-change-sets/{{ set.id }}/edit" data-tooltip="Edit">
                            {% call u::icon("edit") %}
                        </a>
                    </li>
                    <li>
                        <a class="button icon gray" href="/languages/{{ lang.language.code }}/sound-change-sets/{{ set.id }}/delete" data-tooltip="Delete">
                            {% call u::icon("delete") %}
                        </a>
                    </li>
                {% endif %}
                {% if let Some(m) = member %}
                    <li>
                        <a class="button icon gray" href="/language-families/{{ m.family.code }}/members/{{ m.member.id() }}/sound-change-sets/{{ set.id }}/edit" data-tooltip="Edit">
                            {% call u::icon("edit") %}
                        </a>
                    </li>
                    <li>
                        <a class="button icon gray" href="/language-families/{{ m.family.code }}/members/{{ m.member.id() }}/sound-change-sets/{{ set.id }}/delete" data-tooltip="Delete">
                            {% call u::icon("delete") %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    {% if !rendered_description.is_empty() %}
        <div class="markdown">
            {{ rendered_description | safe }}
        </div>
    {% endif %}

    <table class="metadata-table">
        <tr>
            <th>created</th>
            <td>{% call u::relative(&set.created_at) %}</td>
        </tr>
        {% call u::meta_creator_row(&author) %}
        {% call u::meta_updated_row(&set.updated_at, updater.as_ref()) %}
    </table>
</div>

{% if let Some(lang) = language %}
<div class="header-with-actions">
    <h2>language</h2>
    <ul>
        {% if can_edit %}
            <li>
                <a class="with-icon" href="/sound-change-sets/{{ set.id }}/reassign">
                    {% call u::icon("swap-horizontal") %}
                    <span>reassign</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
<ul class="card-list">
    {% call lang_card::render(&lang) %}
</ul>
{% endif %}
{% if let Some(m) = member %}
<div class="header-with-actions">
    <h2>family member</h2>
    <ul>
        {% if can_edit %}
            <li>
                <a class="with-icon" href="/sound-change-sets/{{ set.id }}/reassign">
                    {% call u::icon("swap-horizontal") %}
                    <span>reassign</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
<ul class="card-list">
    {% call member_card::render(&m) %}
</ul>
{% endif %}


{% if let Some(lang) = language %}
    {% if set.is_ipa_estimator || (!language_has_ipa_estimator && can_edit) %}
    <div class="card">
        {% if set.is_ipa_estimator %}
            <p>This set is used to estimate IPA for this language.</p>
            <div class="actions">
                <a class="button" href="/languages/{{ lang.language.code }}/sound-change-sets/{{ set.id }}/unset-ipa-estimator">
                    unset as ipa estimator
                </a>
            </div>
        {% else if !language_has_ipa_estimator && can_edit %}
            <p>This language has no IPA estimator. This set can be used as one.</p>
            <div class="actions">
                <a class="button" href="/languages/{{ lang.language.code }}/sound-change-sets/{{ set.id }}/set-ipa-estimator">
                    set as ipa estimator
                </a>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endif %}

<div class="header-with-actions">
    <h2>sound changes</h2>
    <ul>
        {% if can_edit %}
            <li>
                <a class="with-icon" href="/sound-change-sets/run?set={{ set.id }}">
                    {% call u::icon("play") %}
                    <span>run and edit</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>

<div class="sound-change-set">
    <pre>{{ set.changes }}</pre>
</div>

{% endblock %}

{% block breadcrumb %}
{% if let Some(lang) = language %}
    <span class="separator">/</span>
    <a href="/languages/{{ lang.language.code }}" class="breadcrumb">{{ lang.language.name }}</a>
    <span class="separator">/</span>
    <a href="/languages/{{ lang.language.code }}/sound-change-sets" class="breadcrumb">sound change sets</a>
{% endif %}
{% if let Some(m) = member %}
    <span class="separator">/</span>
    <a href="/language-families/{{ m.family.code }}" class="breadcrumb">{{ m.family.name }}</a>
    <span class="separator">/</span>
    <a href="/language-families/{{ m.family.code }}/members/{{ m.member.id() }}" class="breadcrumb">{{ m.name() }}</a>
{% endif %}
{% endblock %}

{% block footer %}
{% if let Some(lang) = language %}
    {% call scs_f::sound_change_set_section(&set, &lang.language, can_edit) %}
{% endif %}
{% if let Some(m) = member %}
    {% call family_footer::family_section(&m.family, can_edit) %}
{% endif %}
{% endblock %}
