{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "languages/fragments/card.html" as lang_card -%}
{%- import "sound-change-sets/fragments/footer.html" as scs_f -%}

{% block title %}{{ set.name }} in {{ language.language.name }} - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/language-card.css">
<script src="/static/like-button.js" type="module" defer></script>
{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

<div class="context-cards">
    <div class="context-card language-context">
        <span class="context-label">in language</span>
        <ul class="standalone-card">
            {% call lang_card::render(&language) %}
        </ul>
    </div>
</div>

<div class="sound-change-card full-card card">
    <div class="header-with-actions">
        <div class="with-subtitle">
            <h1>{{ set.name }}</h1>
            <div class="subtitle">
                <span>by</span>
                {% call u::badge(&author, size="small") %}
            </div>
        </div>
        <ul>
            {% if can_edit_language %}
                <li><a href="/languages/{{ language.language.code }}/sound-change-sets/{{ set.id }}/edit">Edit</a></li>
                <li><a href="/languages/{{ language.language.code }}/sound-change-sets/{{ set.id }}/delete" class="danger">Delete</a></li>
            {% endif %}
        </ul>
    </div>
    <p>
        {{ rendered_description | safe }}
    </p>
</div>

<div class="sound-change-set">
    <a href="/sound-change-sets/run?set={{ set.id }}">Run</a>
    <pre>{{ set.changes }}</pre>
</div>

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.language.code }}" class="breadcrumb">{{ language.language.name }}</a>
<span class="separator">/</span>
<a href="/languages/{{ language.language.code }}/sound-change-sets" class="breadcrumb">sound change sets</a>
{% endblock %}

{% block footer %}
{% call scs_f::sound_change_set_section(&set, &language.language, can_edit_language) %}
{% endblock %}