{% extends "layout.html" %}

{% block title %}log in - axismundi{% endblock %}

{% block content %}
<h1>Log in</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="post" action="/login">
    <p>Don't have an account? <a href="/register">Sign up</a></p>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    {% if let Some(redirect_url) = redirect_url %}
        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
    {% endif %}

    <button type="submit">Log in</button>
    
    <p>If you've forgotten your password, you can <a href="/reset-password">reset it</a>.</p>
</form>

{% endblock %}