{%- import "util.html" as u -%}

{% macro render(word_class, language_code, creator) %}
<li class="word-class-card">
    <a href="/languages/{{ language_code }}/word-classes/{{ word_class.abbreviation }}">
        <span class="left">
            <span class="word-class-name">{{ word_class.name }} (<span class="word-class-abbreviation">{{ word_class.abbreviation }}</span>.)</span>
            {% if !word_class.notes.is_empty() %}<span class="word-class-notes">{{ crate::util::first_sentence(&word_class.notes) }}</span>{% endif %}
            <span class="creator">
                {% call u::user_display(creator, "small") %} {% call u::relative(&word_class.created_at) %}
            </span>
        </span>
        <span class="right">
            <svg class="icon chevron" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"/></svg>
        </span>
    </a>
</li>
{% endmacro %}

{% call render(word_class, language_code, creator) %}