:root {
    --text-xs: .75rem;
    --text-sm: .875rem;
    --text-md: 1rem;
    --text-lg: 1.2rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;

    --leading-tight: 1.25;
    --leading-normal: 1.5;

    --weight-normal: 400;
    --weight-button: 450;
    --weight-medium: 500;
    --weight-semibold: 600;

    --font-normal: "Roboto", "Noto Sans", Arial, sans-serif;
    --font-heading: "Roboto Slab", "Roboto", "Noto Sans", Arial, sans-serif;
    /* we don't actually ship berkeley mono; this only uses it if you have it installed,
        but i like that font too much to not use it */
    --font-monospace: "Berkeley Mono", "Roboto Mono", monospace;
}