{%- import "util.html" as u -%}
{%- import "languages/fragments/card.html" as lang_card -%}
<link rel="stylesheet" href="/static/components/phonology-table.css">
<div class="context-cards">
    <div class="context-card language-context">
        <span class="context-label">in language</span>
        <ul class="standalone-card">
            {% call lang_card::render(&language) %}
        </ul>
    </div>
</div>

{% if can_edit_language %}
<div class="header-with-actions">
    <h1>search phonology tables</h1>
    <ul>
        <li>
            <a class="with-icon" href="/languages/{{ language_code }}/phonology-tables/new">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new phonology table</span>
            </a>
        </li>
    </ul>
</div>
{% else %}
<h1>search phonology tables</h1>
{% endif %}