{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "languages/fragments/footer.html" as lang_f -%}
{%- import "languages/permissions/fragments/contributor_card.html" as contributor_card -%}

{% block head %}
    <link rel="stylesheet" href="/static/contributor-card.css">
{% endblock %}

{% block title %}contributors - {{ language.name }} - axismundi{% endblock %}

{% block content %}
<div class="header-with-actions">
    <h2 class="with-action">contributors</h2>
</div>

<form class="default" method="get" action="/languages/{{ language.code }}/contributors">
    <div class="search-bar">
        <section class="search-controls">
            <label for="q">Search query</label>
            <div class="search-bar-container">
                <input type="search" id="q" name="q" value="{{ previous_query.q.as_ref().unwrap_or(&"".to_string()) }}">
                <button class="search button" type="submit" data-tooltip="Search" aria-label="Search">{% call u::icon("search") %}</button>
                
                <input type="checkbox" id="advanced-search-toggle" aria-label="Advanced search" >
                <label id="advanced-search-toggle-label" for="advanced-search-toggle" data-tooltip="Advanced search">{% call u::icon("filter") %}</label>
                    
                
            </div>
            <section class="advanced-search-panel">
                <div class="inner">
                    <div class="card">
                        <h2>options</h2>

                        <section>
                            <label for="permission_level">Permission level</label>
                            <div class="select-container">
                                <select id="permission_level" name="permission_level">
                                    <option value="viewer">any</option>
                                    <option value="owner" {% if previous_query.permission_level.as_ref() == Some(&PermissionLevel::Owner) %}selected{% endif %}>owner</option>
                                    <option value="admin" {% if previous_query.permission_level.as_ref() == Some(&PermissionLevel::Admin) %}selected{% endif %}>admin</option>
                                    <option value="editor" {% if previous_query.permission_level.as_ref() == Some(&PermissionLevel::Editor) %}selected{% endif %}>editor</option>
                                    <option value="viewer" {% if previous_query.permission_level.as_ref() == Some(&PermissionLevel::Viewer) %}selected{% endif %}>viewer</option>
                                </select>
                                {% call u::icon("chevron-down") %}
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>

    </div>
</form>


{% if contributors.is_empty() %}
    <p>No contributors found.</p>
{% else %}
    <ul class="contributor-list">
        {% for contributor in contributors %}
            {% call contributor_card::render(&contributor, "/languages/" ~ language.code) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
{% call lang_f::language_section(&language, user_has_permission) %}
{% endblock %}
