.language-family-member-option {
    display: flex;
    flex-direction: row;
    align-items: center;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    > .left {
        align-items: center;
        padding-left: 1rem;
    }

    > .spacer {
        height: 4.5rem;
        padding-left: 2rem;
    }

    svg.icon {
        width: 3rem;
        height: 3rem;
    }
}

.language-family-member-options {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}