{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "words/relations/fragments/card.html" as relation_card -%}
{%- import "words/fragments/footer.html" as word_f -%}

{% block title %}{{ word.word }}{% if other_lemmata %} ({{ word.lemma }}){% endif %} - {{ language.name }} - axismundi{% endblock %}

{% block head %}
<script src="/static/like-button.js" type="module" defer></script>
<link rel="stylesheet" href="/static/lemma.css">
<link rel="stylesheet" href="/static/relation-card.css">
{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

<div class="card">
    <div class="header-with-actions">
        <h1>
            <span>{{ word.word }}</span>
            {% if let Some(abbreviation) = word.word_class_abbreviation %}
            <span class="word-class-container">
                (<a href="/languages/{{ language.code }}/word-classes/{{ abbreviation }}" class="word-class">{{ abbreviation }}</a>.)
            </span>
            {% endif %}
        </h1>
        <div style="display: flex; gap: 0.5rem; align-items: flex-start;">
            {% if user_has_permission %}
                <a class="icon button gray" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/edit" data-tooltip="Edit word">
                    {% call u::icon("edit") %}
                </a>
                <a class="icon button gray" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/delete" data-tooltip="Delete word">
                    {% call u::icon("delete") %}
                </a>
            {% endif %}
            <span class="likes like-button {% if is_liked %}liked{% endif %}" data-target="/api/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}" data-tooltip="Like this word" role="button">
                <span class="icon-button-container yellow">
                    <svg class="icon when-unliked"><use href="#icon-star-outline"></use></svg>
                    <svg class="icon when-liked"><use href="#icon-star-filled"></use></svg>
                </span>
                <span class="like-count">{{ word.like_count }}</span>
            </span>
        </div>
    </div>

    <div class="contributors">
        <span>by</span>
        {% call u::badge(&creator, size="small") %}
        {% if contributor_count > 0 %}
            <span>and {{ contributor_count }} other contributor{% if contributor_count != 1 %}s{% endif %}</span>
        {% endif %}
    </div>

    <div class="word-meta">
        {% if !word.ipa.is_empty() %}<span class="ipa">/{{ word.ipa }}/</span>{% endif %}
    </div>

    {% if !definitions.is_empty() %}
        <ol class="definitions-list">
            {% for definition in definitions %}
                <li>
                    {% if !definition.context.is_empty() %}
                    <span class="context-container">
                        (<span class="context">{{ definition.context }}</span>)
                    </span>
                    {% endif %}
                    {{ definition.definition }}
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p class="empty-description">no definitions yet</p>
    {% endif %}

    {% if !rendered_notes.is_empty() %}
        <div class="rendered-notes markdown-content">{{ rendered_notes|safe }}</div>
    {% endif %}
</div>

<div class="header-with-actions">
    <h2>word relations</h2>
    <ul>
        {% if user_has_permission %}
            <li><a class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/add-relation">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>add relation</span>
            </a></li>
            <li><a id="derive-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/derive">
                {% call u::icon("arrow-split") %}
                <span>derive</span>
            </a></li>
            <li><a id="loan-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/loan">
                {% call u::icon("forward") %}
                <span>loan</span>
            </a></li>
        {% endif %}
        <li><a class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/relations">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>

<ul class="card-list">
    {% for relation in recent_relations %}
        {% call relation_card::render(&relation, &language.code, &word.slug, word.lemma, user_has_permission) %}
    {% endfor %}
</ul>

{% if total_relations <= 0 %}
    <p class="empty-description">no word relations yet</p>
{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
{% call word_f::word_section(&word, &language, user_has_permission, other_lemmata) %}
{% endblock %}
