{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "words/relations/fragments/card.html" as relation_card -%}
{%- import "words/fragments/footer.html" as word_f -%}

{% block title %}{{ word.word }}{% if other_lemmata %} ({{ word.lemma }}){% endif %} - {{ language.name }} - axismundi{% endblock %}

{% block head %}
<script src="/static/components/like-button.js" type="module" defer></script>
<script src="/static/components/panzoom/panzoom-enhance.js" type="module" defer></script>
<link rel="stylesheet" href="/static/page/words/lemma.css">
<link rel="stylesheet" href="/static/components/cards/relation-card.css">
<link rel="stylesheet" href="/static/components/panzoom/panzoom-enhance.css">
<link rel="stylesheet" href="/static/components/metadata-table.css">
{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

<div class="card word-card-full">
    <div class="header-with-actions">
        {% if !word.ipa.is_empty() %}
        <div class="with-subtitle">
        {% endif %}
            <h1 class="word-header">
                <span>{{ word.word }}</span>
                {% if let Some(word_class) = word_class %}
                <span class="word-class-container" data-tooltip="{{ word_class.name }}">
                    <a
                        href="/languages/{{ language.code }}/word-classes/{{ word_class.abbreviation }}"
                        class="word-class"
                    >
                        <span class="word-class-outer">
                            (<span class="word-class-inner"><span class="word-class-abbreviation">{{ word_class.abbreviation }}</span>.</span>)
                        </span>
                    </a>
                </span>
                {% endif %}
            </h1>
        {% if !word.ipa.is_empty() %}
            <div class="subtitle">
                <span class="ipa">/{{ word.ipa }}/</span>
            </div>
        </div>
        {% endif %}
        <ul class="icons">
            {% if user_has_permission %}
                <li><a class="icon button gray" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/edit" data-tooltip="Edit word">
                    {% call u::icon("edit") %}
                </a></li>
                <li><a class="icon button red" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/delete" data-tooltip="Delete word">
                    {% call u::icon("delete") %}
                </a></li>
            {% endif %}
            <li>
                <span class="likes like-button {% if is_liked %}liked{% endif %}" data-target="/api/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}" data-tooltip="Like this word" role="button">
                    <span class="icon-button-container yellow">
                        <svg class="icon when-unliked"><use href="#icon-star-outline"></use></svg>
                        <svg class="icon when-liked"><use href="#icon-star-filled"></use></svg>
                    </span>
                    <span class="like-count">{{ word.like_count }}</span>
                </span>
            </li>
        </div>

        <div class="word-meta">
            
        </div>


        {% if !definitions.is_empty() %}
            <ol class="definitions-list">
                {% for (definition, quotations, has_more) in definitions %}
                    <li>
                        <div class="definition">
                            {% if !definition.context.is_empty() %}
                            <span class="context-container">
                                (<span class="context">{{ definition.context }}</span>)
                            </span>
                            {% endif %}
                            {{ definition.definition }}
                        </div>
                        <ul class="quotations">
                            {% for q in quotations %}
                                <li>
                                    <a href="/translatable/{{ q.translatable_code }}/translation/{{ q.language_code }}" class="quotation-link">
                                        {{ q.render() | safe }}
                                    </a>
                                    {% if !q.notes.is_empty() %}
                                        <span class="quotation-notes">{{ q.notes | safe }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% if has_more %}
                                <li><a href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/quotations">see more</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p class="empty-description">no definitions yet</p>
        {% endif %}

        {% if !rendered_notes.is_empty() %}
            <div class="rendered-notes markdown">{{ rendered_notes|safe }}</div>
        {% endif %}
        
        <table class="metadata-table">
            <tr>
                <th>created</th>
                <td>{% call u::relative(&word.created_at) %}</td>
            </tr>
            {% call u::meta_creator_row(&creator) %}
            {% if contributor_count > 0 %}
            <tr>
                <th>contributors</th>
                <td>{{ contributor_count }} other contributor{% if contributor_count != 1 %}s{% endif %}</td>
            </tr>
            {% endif %}
            {% call u::meta_updated_row(&word.updated_at, updater.as_ref()) %}
            {% if !word_categories.is_empty() %}
            <tr>
                <th>categories</th>
                <td>
                    {% for c in word_categories %}
                        <a href="/languages/{{ language.code }}/word-categories/{{ c.abbreviation }}"
                           class="word-category">{{ c.name }} ({{ c.abbreviation }})</a>{% if !loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

{% if user_has_permission && recent_relations.is_empty() %}
<div class="card first-interaction-card">
    <h2>no word relations yet</h2>
    <p>create the first relation to another word to get started</p>
    <div class="actions">
        <a class="button" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/add-relation">add relation</a>
        <a class="button" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/derive">derive</a>
        <a class="button" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/loan">loan</a>
    </div>
</div>
{% else if !recent_relations.is_empty() %}
{% if let Some(cognacy) = cognacy %}
    <div class="card cognacy-card">
        <div class="header-with-actions">
            <h2>related words</h2>
            <ul>
                {% if user_has_permission %}
                    <li><a id="add-relation-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/add-relation">
                        <svg class="icon"><use href="#icon-plus"></use></svg>
                        <span>add relation</span>
                    </a></li>
                    <li class="when-large"><a id="derive-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/derive">
                        {% call u::icon("arrow-split") %}
                        <span>derive</span>
                    </a></li>
                    <li class="when-large"><a id="loan-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/loan">
                        {% call u::icon("forward") %}
                        <span>loan</span>
                    </a></li>
                    <li class="when-small"><a id="derive-or-loan-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/derive-or-loan">
                        {% call u::icon("arrow-split") %}
                        <span>derive or loan</span>
                    </a></li>
                {% endif %}
                <li><a class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/relations">
                    {% call u::icon("list") %}
                    <span>view all</span>
                </a></li>
            </ul>
        </div>
        <div class="cognacy-svg" data-panzoom data-panzoom-focus=".current-word">
            {{ cognacy | safe }}
        </div>
    </div>

    {% if !non_cognacy_relations.is_empty() %}
        <h2>see also</h2>

        <ul class="card-list">
            {% for relation in non_cognacy_relations %}
                {% call relation_card::render(&relation, &language.code, &word.slug, word.lemma, user_has_permission) %}
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
<div class="header-with-actions">
    <h2>related words</h2>
    <ul>
        {% if user_has_permission %}
            <li><a id="add-relation-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/add-relation">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>add relation</span>
            </a></li>
            <li class="when-large"><a id="derive-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/derive">
                {% call u::icon("arrow-split") %}
                <span>derive</span>
            </a></li>
            <li class="when-large"><a id="loan-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/loan">
                {% call u::icon("forward") %}
                <span>loan</span>
            </a></li>
            <li class="when-small"><a id="derive-or-loan-link" class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/derive-or-loan">
                {% call u::icon("arrow-split") %}
                <span>derive or loan</span>
            </a></li>
        {% endif %}
        <li><a class="with-icon" href="/languages/{{ language.code }}/words/{{ word.slug }}/{{ word.lemma }}/relations">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for relation in recent_relations %}
        {% call relation_card::render(&relation, &language.code, &word.slug, word.lemma, user_has_permission) %}
    {% endfor %}
</ul>
{% endif %}

{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
{% call word_f::word_section(&word, &language, user_has_permission, other_lemmata) %}
{% endblock %}
