{% macro make_lemma(word, definitions, language_code, user_has_permission, rendered_notes) %}
{% if !word.ipa.is_empty() %}
    <p class="ipa">/{{ word.ipa }}/</p>
{% endif %}

{% if !definitions.is_empty() %}
    <h3>Definitions</h3>
    <ol>
        {% for definition in definitions %}
            <li>
                {{ definition.definition }}
                {% if !definition.context.is_empty() %}
                    <p class="context">{{ definition.context }}</p>
                {% endif %}
                {% if user_has_permission %}
                    <details class="definition-actions">
                        <summary>manage definition</summary>
                        <div class="action-buttons">
                            <a href="/languages/{{ language_code }}/definitions/{{ definition.id }}/edit" class="button-small">Edit</a>
                            <a href="/languages/{{ language_code }}/definitions/{{ definition.id }}/delete" class="button-small button-danger">Delete</a>
                        </div>
                    </details>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>No definition set.</p>
{% endif %}

{% if !rendered_notes.is_empty() %}
<h3>notes</h3>
<div class="markdown-content">{{ rendered_notes|safe }}</div>
{% endif %}
{% endmacro %}