{%- import "util.html" as u -%}

{% if can_edit_family || kind == ListHeaderKind::Preview %}
<div class="header-with-actions">
    <h1>{{ title() }}</h1>
    <ul>
        {% if can_edit_family %}
            <li>
                <a class="with-icon" href="/language-families/{{ family.code }}/add-root">
                    {% call u::icon("plus") %}
                    <span>new member</span>
                </a>
            </li>
        {% endif %}
        {% if kind == ListHeaderKind::Preview %}
            <li>
                <a class="with-icon" href="/language-families/{{ family.code }}/members">
                    {% call u::icon("list") %}
                    <span>view all</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{% else %}
<h1>{{ title() }}</h1>
{% endif %}