{%- import "util.html" as u -%}

{% macro render(translatable_with_meta, back="") %}
<li class="preview-card">
    <a href="/translatable/{{ translatable_with_meta.translatable.slug }}{% if !back.is_empty() %}?back={{ back|urlencode }}{% endif %}">
        <span class="left">
            <span class="title">{{ translatable_with_meta.translatable.title }}</span>
            {% if !translatable_with_meta.translatable.description.is_empty() %}
                <span class="summary ellipse">{{ crate::util::first_sentence(&translatable_with_meta.translatable.description) }}</span>
            {% else %}
                <span class="summary ellipse">{{ crate::util::first_sentence(translatable_with_meta.translatable.english) }}</span>
            {% endif %}
            <ul class="card-meta">
                <li>{% call u::user_display(&translatable_with_meta.creator, "small") %}</li>
                {% let words_count = translatable_with_meta.translatable.words_count() %}
                {% let translations_count = translatable_with_meta.translatable.translations_count %}
                <li class="on-medium">{{ words_count }} {% if words_count == (1 as usize) %}word{% else %}words{% endif %}</li>
                <li class="on-medium">{{ translations_count }} {% match *translations_count %}{% when 1 %}translation{% else %}translations{% endmatch %}</li>
                <li>{% call u::relative(&translatable_with_meta.translatable.created_at) %}</li>
            </ul>
        </span>
        {% let target = "/api/translatable/" ~ translatable_with_meta.translatable.slug %}
        {% call u::like_button(target, translatable_with_meta.translatable.like_count, translatable_with_meta.is_liked, "Like this translatable") %}
    </a>
</li>
{% endmacro %}

{% call render(translatable_with_meta, back_url) %}