{%- import "util.html" as u -%}

{% macro render(translatable_with_meta, can_edit_translatable, rendered_description) %}
<div class="card full-card">
    <div class="header-with-actions">
        <h1>
            {{ translatable_with_meta.translatable.title }}
            {% if translatable_with_meta.translatable.is_draft() %}
                <span class="pill gray">draft</span>
            {% endif %}
        </h1>
        <ul class="icons">
            {% if can_edit_translatable %}
            <li>
                <a class="icon button gray" href="/translatable/{{ translatable_with_meta.translatable.slug }}/edit">{% call u::icon("edit") %}</a>
            </li>
            {% endif %}
            <li><span class="likes like-button {% if translatable_with_meta.is_liked %}liked{% endif %}" data-target="/api/translatable/{{ translatable_with_meta.translatable.slug }}" data-tooltip="Like this translatable" role="button">
                <span class="icon-button-container yellow">
                    <svg class="icon when-unliked"><use href="#icon-star-outline"></use></svg>
                    <svg class="icon when-liked"><use href="#icon-star-filled"></use></svg>
                </span>
                <span class="like-count">{{ translatable_with_meta.translatable.like_count }}</span>
            </span>
            </li>
        </ul>
    </div>

    {% let should_be_expandable = translatable_with_meta.translatable.english.len() > 500 %}

    <div class="expandable {% if !should_be_expandable %}always-expanded{% endif %}">
        <div class="expandable-content">
            {% if translatable_with_meta.translatable.source_content.is_empty() && rendered_description.is_none() %}
                <p class="preserve-breaks">{{ translatable_with_meta.translatable.english }}</p>
            {% else %}
                <div class="tabs">
                    <div class="tab-wrap">
                        <input class="tab-head" id="english-tab" type="radio" name="translatable-tabs" checked>
                        <label class="tab-label" for="english-tab">English</label>

                        {% if !translatable_with_meta.translatable.source_language.is_empty() || !translatable_with_meta.translatable.source_content.is_empty() %}
                            <input class="tab-head" id="source-tab" type="radio" name="translatable-tabs">
                            <label class="tab-label" for="source-tab">
                                {% if !translatable_with_meta.translatable.source_language.is_empty() %}
                                    {{ translatable_with_meta.translatable.source_language }}
                                {% else %}
                                    Source language
                                {% endif %}
                            </label>
                        {% endif %}

                        {% if rendered_description.is_some() %}
                            <input class="tab-head" id="description-tab" type="radio" name="translatable-tabs">
                            <label class="tab-label" for="description-tab">Description</label>
                        {% endif %}
                    </div>
                    <div class="english-content">
                        <p class="preserve-breaks">{{ translatable_with_meta.translatable.english }}</p>
                    </div>
                    {% if !translatable_with_meta.translatable.source_content.is_empty() %}
                        <div class="source-content">
                            {% if !translatable_with_meta.translatable.source_name.is_empty() %}
                                {% if !translatable_with_meta.translatable.source_url.is_empty() %}
                                    <h2><a href="{{ translatable_with_meta.translatable.source_url }}" target="_blank" rel="noopener noreferrer ugc">{{ translatable_with_meta.translatable.source_name }}</a></h2>
                                {% else %}
                                    <h2>{{ translatable_with_meta.translatable.source_name }}</h2>
                                {% endif %}
                            {% else %}
                                {% if !translatable_with_meta.translatable.source_url.is_empty() %}
                                    <h2><a href="{{ translatable_with_meta.translatable.source_url }}" target="_blank" rel="noopener noreferrer ugc">Source</a></h2>
                                {% endif %}
                            {% endif %}
                            <p class="preserve-breaks">{{ translatable_with_meta.translatable.source_content }}</p>
                        </div>
                    {% endif %}
                    {% if let Some(description) = &rendered_description %}
                        <div class="description-content">
                            <p class="preserve-breaks">{{ description }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if should_be_expandable %}
            <div class="expandable-control">
                <input class="expandable-input" id="expand-translatable" name="expand-translatable" type="checkbox">
                <label class="expandable-label" for="expand-translatable">
                    <span class="see-more">See more</span>
                    <span class="see-less">See less</span>
                </label>
            </div>
        {% endif %}
    </div>

    <table class="metadata-table">
        <tr>
            <th>created</th>
            <td>{% call u::relative(&translatable_with_meta.translatable.created_at) %}</td>
        </tr>
        {% call u::meta_creator_row(&translatable_with_meta.creator) %}
        {% call u::meta_updated_row(&translatable_with_meta.translatable.updated_at, translatable_with_meta.updater.as_ref()) %}
        {% if !translatable_with_meta.translatable.source_url.is_empty() && translatable_with_meta.translatable.source_content.is_empty() %}
        <tr>
            <th>source</th>
            <td><a href="{{ translatable_with_meta.translatable.source_url }}" target="_blank" rel="noopener noreferrer ugc">
                {% if !translatable_with_meta.translatable.source_name.is_empty() %}
                    {{ translatable_with_meta.translatable.source_name }}
                {% else %}
                    link
                {% endif %}
            </a></td>
        </tr>
        {% endif %}
        {% if !translatable_with_meta.translatable.source_language.is_empty() %}
        <tr>
            <th>source language</th>
            <td>{{ translatable_with_meta.translatable.source_language }}</td>
        </tr>
        {% endif %}
    </table>
</div>
<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        const expandableLabel = document.querySelector(".expandable-label");
        if(!expandableLabel) return;
        const expandableContent = document.querySelector(".expandable-content");
        expandableLabel.addEventListener("click", () => {
            expandableContent.scrollIntoView({ behavior: "smooth", block: "start" });
        })
    })
</script>
{% endmacro %}

{% call render(translatable_with_meta, can_edit_translatable, rendered_description) %}