{%- import "util.html" as u -%}

{% macro render_invite_card(invite, inviting_user, invited_user, permission_level, revoke_link, can_revoke) %}
<li class="invite-card">
    <span class="left">
        <span class="invite-info">
            {% call u::badge(&inviting_user, "small") %}
            <span>invited</span>
            {% call u::badge(&invited_user, "small") %}
        </span>
        <span class="invite-permissions">
            as {{ permission_level.display_name() }}
        </span>
        <ul class="card-meta invite-meta">
            <li class="invite-timestamp">
                {% call u::relative(&invite.sent_at) %}
            </li>
            {% if let Some(accepted_at) = &invite.accepted_at %}
                <li class="invite-accepted">
                    Accepted {% call u::relative(accepted_at) %}
                </li>
            {% else %}
                <li class="invite-pending">Pending</li>
            {% endif %}
        </ul>
    </span>

    {% if can_revoke %}
        <span class="right invite-actions">
            <a class="icon button gray" href="{{ revoke_link }}" data-tooltip="Revoke invite">
                {% call u::icon("delete") %}
            </a>
        </span>
    {% endif %}
</li>
{% endmacro %}

{% call render_invite_card(invite, inviting_user, invited_user, permission_level, revoke_link, can_revoke) %}