{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block head %}
    <link rel="stylesheet" href="/static/invite-card.css">
{% endblock %}

{% block title %}invites - {{ language.name }} - axismundi{% endblock %}

{% block content %}
<div class="header-with-actions">
    <h2 class="with-action">invites</h2>
    <ul>
        <li><a class="with-icon" href="/languages/{{ language.code }}/invites/new">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new invite</span>
            </a></li>
    </ul>
</div>

{% if invites.is_empty() %}
    <p>No invites found.</p>
{% else %}
    <ul class="card-list">
        {% for invite_data in invites %}
            {% let language_code = &language.code %}
            {% call u::render_invite_card(&invite_data.invite, &invite_data.inviting_user, &invite_data.invited_user, &invite_data.invite.permissions, format!("/languages/{}/invites/{}/revoke", language_code, invite_data.invite.id), invite_data.can_revoke) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/languages/{{ language.code }}" class="breadcrumb">{{ language.name }}</a>
{% endblock %}

{% block footer %}
{% call u::language_section(&language, user_has_permission) %}
{% endblock %}
