{%- import "util.html" as u -%}

{% macro render(relation, current_word_language_code, current_word_slug, current_word_lemma, user_has_permission, back="") %}
<li class="relation-card preview-card">
    <a href="/languages/{{ relation.language }}/words/{{ relation.word.slug }}/{{ relation.word.lemma }}{% if !back.is_empty() %}?back={{ back | urlencode }}{% endif %}">
        <span class="left">
            <span class="word-text">{{ relation.word.word }} {% if relation.into_other_language %}<span class="relation-language-code">{{ relation.language_code }}</span>{% endif %}</span>
            <span class="relation-kind-container"><span class="relation-kind">{{ relation.relation.kind }}</span> <span class="relation-direction">{{ relation.direction.preposition() }}</span></span>
            <span class="creator">
                relation created by {% call u::user_display(&relation.creator, "small") %} {% call u::relative(&relation.created_at) %}
            </span>
        </span>
    </a>
    {% if user_has_permission %}
    <div class="relation-actions">
        <a class="icon button gray" href="/languages/{{ current_word_language_code }}/words/{{ current_word_slug }}/{{ current_word_lemma }}/relations/{{ relation.language_code }}/{{ relation.word.slug }}/{{ relation.word.lemma }}/edit" data-tooltip="Edit relation">
            {% call u::icon("edit") %}
        </a>
        <a class="icon button gray" href="/languages/{{ current_word_language_code }}/words/{{ current_word_slug }}/{{ current_word_lemma }}/relations/{{ relation.language_code }}/{{ relation.word.slug }}/{{ relation.word.lemma }}/delete" data-tooltip="Delete relation">
            {% call u::icon("delete") %}
        </a>
    </div>
    {% endif %}
</li>
{% endmacro %}

{% call render(relation, current_word_language_code, current_word_slug, current_word_lemma, user_has_permission, back_url) %}