{%- import "util.html" as u -%}

{% macro render(relation, current_word_language_code, current_word_slug, current_word_lemma, back="") %}
<li class="relation-card">
    <a href="/languages/{{ current_word_language_code }}/words/{{ current_word_slug }}/{{ current_word_lemma }}/relations/{{ relation.language_code }}/{{ relation.word.slug }}/{{ relation.word.lemma }}{% if !back.is_empty() %}?back={{ back | urlencode }}{% endif %}">
        <span class="left">
            <span class="word-text">
                {{ relation.word.word }}
                {% if let Some(abbreviation) = relation.word.word_class_abbreviation %}
                    <span class="word-class-abbreviation-container">
                        (<span class="word-class-abbreviation">{{ abbreviation }}</span>.)
                    </span>
                {% endif %}
                {% if relation.into_other_language %}
                <span class="relation-language-code" data-tooltip="Language for this word" aria-label="This word is in the language with code '{{ relation.language_code }}.'">{{ relation.language_code }}</span>
                {% endif %}
            </span>
            {% if relation.preview_definitions.is_empty() %}
                <span class="word-definition no-definition">no definition</span>
            {% else %}
                <span class="word-definition">{{ relation.preview_definitions|join(", ") }}</span>
            {% endif %}
            <ul class="card-meta">
                <li>{{ relation.relation.kind.text(relation.direction) }}</li>
                <li>{% call u::user_display(&relation.creator, "small") %} · {% call u::relative(&relation.created_at) %}</li>
            </ul>
        </span>
    </a>
</li>
{% endmacro %}

{% call render(relation, current_word_language_code, current_word_slug, current_word_lemma, back_url) %}
