{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "translatables/fragments/card.html" as tc -%}
{%- import "languages/fragments/card.html" as lang_card -%}
{%- import "language_families/fragments/card.html" as family_card -%}
{%- import "activity.html" as activity -%}
{%- import "translatable_of_the_day/fragments/featured_card.html" as totd_card -%}
{%- import "news/fragments/home_section.html" as news_section -%}

{% block title %}home - axismundi{% endblock %}

{% block head %}
<script src="/static/page/home.js" defer></script>
<script src="/static/components/like-button.js" type="module" defer></script>
<link rel="stylesheet" href="/static/page/home.css">
<link rel="stylesheet" href="/static/page/translatable_of_the_day.css">
<link rel="stylesheet" href="/static/components/cards/word.css">

<script src="/static/components/time.js" defer></script>
<link rel="stylesheet" href="/static/components/activity.css">
<link rel="stylesheet" href="/static/components/cards/news.css">

{% endblock %}

{% block content %}

{% let user = current_user.as_ref().unwrap() %}

<h1><span id="welcome">welcome</span>, {% call u::name(user) %}</h1>

{% if let Some(entry) = totd %}
    {% call totd_card::render(entry) %}
{% endif %}

{% if languages.is_empty() %}
<h2>your languages</h2>
<div class="no-languages-yet card">
    <h2>no languages yet</h2>
    <p>create your first language to get started</p>
    <div class="actions">
        <a class="button primary-button" href="/new-language">new language</a>
    </div>
</div>
{% else %}
<div class="header-with-actions">
    <h2 class="with-action">your languages</h2>
    <ul>
        <li><a class="with-icon" href="/new-language">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new language</span>
            </a></li>
        <li><a class="with-icon" href="/languages?owned_by={{ user.username }}">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for language_with_contributors in languages %}
        {% call lang_card::render(&language_with_contributors, show_home_pin=true) %}
    {% endfor %}
</ul>

{% endif %}

{% if families.is_empty() %}
<h2>your families</h2>
<div class="no-families-yet card">
    <h2>no language families yet</h2>
    <p>create your first language family to get started</p>
    <div class="actions">
        <a class="button primary-button" href="/new-language-family">new family</a>
    </div>
</div>
{% else %}
<div class="header-with-actions">
    <h2 class="with-action">your families</h2>
    <ul>
        <li><a class="with-icon" href="/new-language-family">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new family</span>
            </a></li>
        <li><a class="with-icon" href="/language-families?owner={{ user.username }}">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for family_with_contributors in families %}
        {% call family_card::render(&family_with_contributors) %}
    {% endfor %}
</ul>
{% endif %}

<div class="header-with-actions">
    <h2 class="with-action">new translatables</h2>
    <ul>
        <li><a class="with-icon" href="/new-translatable">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new translatable</span>
            </a></li>
        <li><a class="with-icon" href="/translatables">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for translatable_with_meta in translatables %}
        {% call tc::render(&translatable_with_meta) %}
    {% endfor %}
</ul>

{% let is_staff = user.is_admin() || user.is_moderator() %}
{% call news_section::render(news, is_staff) %}

<h2>recent activity</h2>
{% if activities.is_empty() %}
<p>no recent activity to show.</p>
{% else %}
    <ul class="card-list activities">
        {% for activity in activities %}
            {% call activity::render(&activity, true) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
