{% extends "layout.html" %}

{% block title %}community guidelines - axismundi{% endblock %}

{% block content %}
<div class="prose">
<h1>community guidelines</h1>
<p>last updated: may 5, 2026</p>

<p>
    welcome to axismundi! in addition to our
    <a href="/terms">terms of service</a>, we have a number of rules which help
    to create a positive environment where everyone can feel safe. we strive to
    foster a community where people are free to express themselves.
</p>

<p>
    these rules apply to all official projects and spaces belonging to
    Axismundi. this includes the website itself, the discord, and any other
    official channels. we reserve the right to remove content and ban users
    at our discretion as guided by these rules.
</p>

<ul>
    <li>
        no content condoning or advocating for the oppression of members of
        marginalized groups, or general discrimination of groups based on
        characteristics like gender, race, disability, nationality,
        education, sexual orientation, religion, or any other identity.
        we intend to be inclusive and welcoming to everyone, regardless of age,
        gender and sexual identity, physical or physiological circumstances,
        ethnic, regional and/or religious affiliation or origin, external
        appearance, or socio-economic status.
        rather explicitly, this website is run by queer leftists, and our
        moderation policies will reflect that.
    </li>
    <li>
        no harassment, stalking, mobbing, deadnaming, misgendering,
        or any other form of targeted abuse towards individuals or groups.
    </li>
    <li>
        do not post content which is illegal in the united states, where our
        servers are located.
    </li>
    <li>
        limit objectionable content. we understand that in the process of
        documenting something as complex as a language, the culture around it,
        and the people who speak it, there will be content that may be profane,
        vulgar, or offensive in nature. however, as a guideline, content should
        aim to be encyclopedic and informative, in the vein of mediawiki, and
        not be primarily for shock value or entertainment.
    </li>
    <li>
        do not spam, advertise, or use the service to harm others in any way.
        use of the service for commercial purposes is prohibited without explicit
        permission.
    </li>
    <li>
        do not evade bans or otherwise circumvent moderation measures.
    </li>
</ul>

<p>
    these rules are not exhaustive, and we reserve the right to take action
    against content and users that violate the spirit of these guidelines, even
    if they do not violate the letter of them. if you see something that you
    think violates these rules, please report it to us.
</p>
</div>
{% endblock %}