{% extends "layout.html" %}

{% block title %}settings - axismundi{% endblock %}

{%- import "util.html" as u -%}

{% block head %}
<link rel="stylesheet" href="/static/settings.css">
<link rel="stylesheet" href="/static/components/markdown-editor/markdown-editor.css">
<script type="module" defer src="/static/components/markdown-editor/markdown-editor.js"></script>
<script src="/static/settings.js" defer></script>
<noscript>
    <style>
        input#gender {
            width: 100%;
        }
    </style>
</noscript>
{% endblock %}

{% block content %}
<h1>settings</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<h2>account information</h2>

{% let user = current_user.as_ref().unwrap() %}
{% let previous_input = &previous_input %}
{% let current_user = &current_user %}
<form id="settings-form" class="default" method="post" action="/settings">
    <section>
        <label for="username">Username</label>
        {% call u::field_error(name="username") %}
        <input type="text" id="username" name="username" required value="{{previous_username}}">
        <span class="hint">use only lowercase letters (a-z), numbers (0-9), dashes (-), and underscores (_). must start and end with a letter or number.</span>
    </section>

    <section>
        <label for="display_name">Display name (optional)</label>
        {% call u::field_error(name="display_name") %}
        <input type="text" id="display_name" name="display_name" value="{{prev!(current_user, previous_input, display_name)}}">
    </section>

    <section>
        <label for="description" id="description-label">Description (optional)</label>
        {% call u::field_error(name="description") %}
        <textarea id="description" name="description" rows="4">{{prev!(current_user, previous_input, description)}}</textarea>
    </section>

    <section>
        <label for="pronouns">Pronouns (optional)</label>
        {% call u::field_error(name="pronouns") %}
        <input type="text" id="pronouns" name="pronouns" value="{{prev!(current_user, previous_input, pronouns)}}">
    </section>

    <section>
        <label for="gender">Gender (optional)</label>
        {% call u::field_error(name="gender") %}
        <gender-input initial-value="{{prev!(current_user, previous_input, gender)}}">
            <input type="text" id="gender" name="gender" value="{{prev!(current_user, previous_input, gender)}}">
        </gender-input>
    </section>
    <button type="submit">Save changes</button>
</form>

<h2>change profile images</h2>
{% call u::field_error(name="banner") %}
{% call u::field_error(name="profile_picture") %}
<form class="default" method="post" action="/change-profile-images" enctype="multipart/form-data">
    <div class="profile-images-container card">
        <div class="banner" data-tooltip="Upload new banner image">
            <div class="input-container">
                <input type="file" id="banner" name="banner" accept="image/*" aria-label="Upload banner image">
                <span class="upload-icon">
                    {% call u::icon("upload") %}
                </span>
            </div>
            {% if let Some(banner_url) = current_user.as_ref().unwrap().get_banner_url() %}
                <img id="banner-img-input" src="{{ banner_url }}" alt="Current banner image" aria-label="Current banner image">
            {% else %}
                <img id="banner-img-input" src="" alt="No banner image" aria-label="No banner image" class="no-img">
            {% endif %}
        </div>
        <div class="pfp" data-tooltip="Upload new profile picture">
            <div class="input-container">
                <input type="file" id="profile_picture" name="profile_picture" accept="image/*" aria-label="Upload profile picture">
                <span class="upload-icon">
                    {% call u::icon("upload") %}
                </span>
            </div>
            {% if let Some(pfp_url) = current_user.as_ref().unwrap().get_profile_picture_url() %}
                <img id="pfp-img-input" src="{{ pfp_url }}" alt="Current profile picture" aria-label="Current profile picture">
            {% else %}
                <img id="pfp-img-input" src="/assets/default-pfp.webp" alt="No profile picture" aria-label="No profile picture">
            {% endif %}
        </div>
    </div>
    <span class="hint">maximum file size: 5MB</span>
    <div class="image-sections">
        <section class="images-labels">
            <h3>banner</h3>
            <div>
                <label class="label-button" for="banner">Upload banner</label>
                <button class="secondary" type="submit" formaction="/clear-banner">Clear banner</button>
            </div>
        </section>
        <section class="images-labels">
            <h3>profile picture</h3>
            <div>
                <label class="label-button" for="profile_picture">Upload profile picture</label>
                <button class="secondary" type="submit" formaction="/clear-profile-picture">Clear profile picture</button>
            </div>
        </section>
    </div>
    <button type="submit">Save changes</button>
</form>

<h2>change email</h2>
<form class="default" method="post" action="/settings">
    <section>
        <label for="email">New email address</label>
        {% call u::field_error(name="email") %}
        <input type="email" id="email" name="email" required>
    </section>
    <section>
        <label for="current_password">Current password</label>
        {% call u::field_error(name="current_password") %}
        <input type="password" id="current_password" name="current_password" required>
    </section>
    <button type="submit">Save changes</button>
</form>

<h2>change password</h2>
<form class="default" method="post" action="/settings">
    <section>
        <label for="current_password">Current password</label>
        {% call u::field_error(name="current_password") %}
        <input type="password" id="current_password" name="current_password" required>
    </section>
    <section>
        <label for="new_password">New password</label>
        {% call u::field_error(name="new_password") %}
        <input type="password" id="new_password" name="new_password" required>
    </section>
    <button type="submit">Save changes</button>
</form>

<script type="module">
  window.addEventListener('DOMContentLoaded', () => {
    if (window.mountMarkdownEditor) {
      window.mountMarkdownEditor('#description', 'description-label');
    }
  });
</script>
{% endblock %}