{% extends "layout.html" %}

{% block title %}terms of service - axismundi{% endblock %}

{% block content %}
<h1>terms of service</h1>

<p>last updated: may 5, 2026</p>

<p>
    Welcome to Axismundi! By using our platform and services (the "Service"),
    you agree to comply with and be bound by the following terms and conditions
    (the "Terms"). Please read these Terms carefully before using our Service.
</p>

<h2>1. Acceptance of Terms</h2>
<p>
    By accessing or using our Service, you acknowledge that you have read,
    understood, and agree to be bound by these Terms. If you do not agree to
    these Terms, please do not use our Service.
</p>

<h2>2. User Accounts</h2>
<p>
    To access certain features of our Service, you may be required to create an
    account. You are responsible for maintaining the confidentiality of your
    account credentials and for all activities that occur under your account.
    You agree to keep your e-mail address up to date.
</p>

<h2>3. Account Termination</h2>
<p>
    We reserve the right to suspend or terminate your account and access to our
    Service at our sole discretion, without notice, for conduct that we believe
    violates these Terms or is harmful to other users of the Service, us, or
    third parties.
</p>

<h2>4. Acceptable Use</h2>

<p>You agree not to use the service to:</p>
<ul>
    <li>Violate any applicable laws or regulations</li>
    <li>Infringe upon the rights of others</li>
    <li>Engage in any harmful or abusive behavior towards other users</li>
    <li>
        Transmit any harmful or malicious content, including viruses or
        malware
    </li>
    <li>Interfere with the operation of the service or its security</li>
</ul>

<h2>5. Content and Intellectual Property</h2>
<p>
    You retain ownership of the content you upload or create using our Service.
    By using our Service, you grant us a worldwide, royalty-free, sublicensable,
    and transferable license to use, reproduce, distribute, prepare derivative
    works of, display, and perform the content in connection with our Service
    and our operations. You are responsible for ensuring that you have the
    necessary rights to grant us this license for any content you upload or
    create using our Service.
</p>

<h2>6. Privacy</h2>

<p>
    Your privacy is important to us. Please review our
    <a href="/privacy">Privacy Policy</a>
    to understand how we collect, use, and protect your information.
</p>

<h2>7. Disclaimers and Liability</h2>

<p>
    Our Service is provided "as is" and "as available" without any warranties of
    any kind, either express or implied. We do not guarantee that our Service
    will be uninterrupted, secure, or error-free. In no event shall we be
    liable for any damages arising out of or in connection with your use of or
    inability to use our Service.
</p>

<h2>8. Changes to Terms</h2>
<p>
    We reserve the right to modify or replace these Terms at any time. If a
    revision is material, we will provide at least 30 days' notice before any
    new terms take effect. What constitutes a material change will be determined
    at our sole discretion. By continuing to access or use our Service after
    those revisions become effective, you agree to be bound by the revised
    terms. If you do not agree to the new terms, please stop using our Service.
</p>

<h2>9. Governing Law</h2>
<p>
    These Terms shall be governed and construed in accordance with the laws of
    the jurisdiction in which we operate, without regard to its conflict of law
    provisions.
</p>
{% endblock %}