ul.activities {
  background: linear-gradient(to right, transparent 24px, var(--foreground-secondary) 25px, transparent 26px);
}

.activity-item {
  .top {
    background-color: var(--background-panel);
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    border: var(--border);
    border-bottom: none;

    font-size: .875rem;
    padding: .625rem 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: .2rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    time, .verb, .preposition {
      color: var(--foreground-secondary);
    }
  }

  ul {
    padding-left: 0;
    li :is(a, .card) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}