.audit-log-card {
    display: flex;
    flex-direction: row;
    border: var(--border);
    border-radius: var(--rounding);
    background-color: var(--background-panel);
    padding: 1rem;
    gap: .5rem;
    align-items: center;

    text-decoration: none;

    transition: border-color var(--duration-very-fast) ease-in-out, box-shadow var(--duration-very-fast) ease-in-out;

    .left {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex-grow: 1;
    }

    .log-detail {
        display: flex;
        flex-direction: row;
        gap: .25rem;
        align-items: center;
        
    }


}
.audit-log-summary {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
}