.family-tree-svg-container {
  overflow: auto;
  margin-top: 0px;
  padding: 0.5rem;
  background-color: var(--background-page);
  border: var(--border);
  border-radius: var(--rounding);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

svg {
  .language-family-node {
    a {
      text-decoration: none;

      &:hover path {
        stroke: var(--foreground-secondary);
      }
    }
    text {
      font-family: inherit;
      font-size: 12px;
      fill: var(--foreground-primary);
    }
    path {
      transition: stroke var(--duration-very-fast) ease-in-out;
      fill: var(--background-panel);
      stroke: var(--border-color);
      stroke-width: 1px;
    }
  }
  .language-family-edge {
    polygon {
      fill: var(--foreground-secondary);
      stroke: var(--foreground-secondary);
    }
    path {
      stroke: var(--foreground-secondary);
      stroke-width: 1px;
    }
  }
}
