.definitions-list {
  list-style: decimal;
  padding-left: 1.5rem;
}

.context {
  font-style: italic;
}

.context-container,
.word-class-container {
  color: var(--foreground-secondary);
}

.word-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;

  :not(:last-child)::after {
    content: "·";
    user-select: none;
    pointer-events: none;
    color: var(--foreground-secondary);
    margin-left: 0.5rem;
  }
}

.word-card-full .header-with-actions {
  margin-bottom: 0px;
  .subtitle {
    margin-top: .5rem;
  }
}

.word-header {
  font-family: var(--font-normal);
}

.rendered-notes {
  margin-top: 0.5rem;
}

.when-small {
  display: none !important;
}

@media (max-width: 600px) {
  .when-large {
    display: none !important;
  }

  .when-small {
    display: inline-flex !important;
  }
}

ul.quotations {
  li {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    gap: .325rem;
  }

  &:not(:has(li)) {
    display: none;
  }
}

.quotation-link {
  text-decoration: none;
  font-style: italic;


  .highlight {
    font-weight: bold;
  }

  &:hover {
    color: var(--foreground-secondary);
  }
}

.cognacy-card {
  .cognacy-svg {
    overflow: auto;
    margin-top: 0px;
    background-color: var(--background-page);
    border: var(--border);
    border-radius: var(--rounding);
    display: flex;
    flex-direction: row;
    justify-content: center;

    svg {
      .node {
        a {
          text-decoration: none;

          &:hover path {
            stroke: var(--foreground-secondary);
          }
        }
        text {
          font-family: inherit;
          font-size: 12px;
          fill: var(--foreground-primary);
        }
        path {
          transition: stroke var(--duration-very-fast) ease-in-out;
          fill: var(--background-panel);
          stroke: var(--border-color);
          stroke-width: 1px;
        }
      }

      .current-word {
        path {
          stroke: var(--foreground-secondary);
        }
      }

      .edge {
        polygon {
          fill: var(--foreground-secondary);
          stroke: var(--foreground-secondary);
        }
        path {
          stroke: var(--foreground-secondary);
          stroke-width: 1px;
        }
      }
    }
  }
}

a.word-class {
  font-size: .9em;
  color: var(--foreground-secondary);
  text-decoration: none;
  .word-class-abbreviation {
    font-style: italic;
  }
}