:root {
  color-scheme: light dark;

  --background-panel: light-dark(white, var(--color-slate-950));
  --background-page: light-dark(var(--color-slate-100), var(--color-slate-900));

  --foreground-primary: light-dark(var(--color-slate-900), var(--color-slate-100));
  --foreground-secondary: light-dark(var(--color-slate-500), var(--color-slate-400));

  --input-background: light-dark(var(--color-slate-200), var(--color-slate-800));
  --input-border: light-dark(var(--color-slate-400), var(--color-slate-600));

  --error-background: color-mix(in oklab, var(--color-red-600) 10%, var(--background-panel));
  --error-foreground: var(--color-red-700);
  --error-border: .1rem solid var(--color-red-500);

  --color-shadow: light-dark(color-mix(in oklab,var(--color-slate-900) 10%,transparent), color-mix(in oklab, black 30%, transparent));

  --font-normal: 'Roboto', Arial, sans-serif;
  --font-heading: 'Roboto Slab', 'Roboto', Arial, sans-serif;

  --duration-very-fast: 75ms;
  --duration-fast: 150ms;
  --duration-medium: 300ms;

  --header-height: 3rem;
  --user-panel-width: 200px;

  --page-width: 600px;

  --rounding: calc(0.625rem + 4px);

  --padding-right: calc((100dvh - var(--page-width)) / 2);

  --border: 1px solid light-dark(var(--color-slate-300), var(--color-slate-700));
}

#icon-store {
  display: none;
}

body {
  font-family: var(--font-normal);
  background-color: var(--background-page);
  color: var(--foreground-primary);

  min-height: 100dvh;
  max-width: 100dvw;

  margin-top: calc(var(--header-height) + 20px);

  overflow-x: hidden;

  > * {
    max-width: var(--page-width);
    margin: 0 auto;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--background-page);
  box-shadow: 0 20px 25px -5px var(--background-page);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  max-width: initial;

  .inner {
    width: var(--page-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    isolation: isolate;
  }

  .left, .right {
    display: flex;
    align-items: center;
  }

  .left {
    gap: .5rem;
    a.breadcrumb {
      max-width: 60vw;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .right {
    justify-content: right;
  }

  .separator {
    user-select: none;
    color: var(--foreground-secondary);
  }

  a#logomark {
    font-family: var(--font-heading);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    svg {

      height: 1.25rem;
      margin-right: .5rem;
    }

    span {
      display: none;
      @media (min-width: 600px) {
        display: inline;
      }
    }
  }
}

img.pfp {
  border-radius: 100%;
  
  &.medium {
    width: 1.75rem;
    height: 1.75rem;
  }

  &.large {
    width: 3.5rem;
    height: 3.5rem;
  }
}

#icon-store {
  display: none;
}

svg.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--foreground-secondary);
}

#safety-triangle {
  --height: 3rem;
  --pfp-width: 1.75rem;
  --width: calc(var(--user-panel-width));

  position: relative;
  right: calc(-1 * var(--height));

  width: var(--width);
  height: var(--height);
  display: inline-flex;
  /* so-called triangles when they have 4 vertices */
  clip-path: polygon(0 var(--height), var(--width) var(--height), var(--width) 0, calc(var(--width) - var(--pfp-width)) 0);
  user-select: none;
}

#current-user {
  cursor: pointer;
  z-index: 100;
}

.user-panel {
  position: fixed;
  top: calc(var(--header-height));
  width: 200px;
  border-radius: var(--rounding);
  border: var(--border);
  background-color: var(--background-panel);
  box-shadow: 0 4px 6px -1px var(--color-shadow), 0 2px 4px -2px var(--color-shadow);
  z-index: 1000;
  padding: .325rem;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8) translateY(-20px) translateX(20px);
  font-size: .9rem;

  --curve: cubic-bezier(0.3, 0.0, 0.8, 0.15);

  transition: opacity var(--duration-fast) var(--curve),
              visibility var(--duration-fast) var(--curve),
              transform var(--duration-fast) var(--curve);

  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(0) translateX(0);
  }

  .user-card {
    display: flex;
    flex-direction: row;
    border-bottom: var(--border);
    padding: .325rem .5rem .5rem .5rem;
    gap: .5rem;

    .pfp-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      gap: .25rem;
      justify-content: center;

      .display-name {
        font-weight: bold;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: .25rem;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: .325rem .5rem;
      border-radius: var(--rounding);



      transition: background-color var(--duration-very-fast) var(--curve);

      &:hover {
        background-color: var(--background-page);
      }
      svg.icon {
        position: relative;
        top: -1px;
        margin-right: .5rem;
      }
    }
  }
}

@starting-style {
  .user-panel {
    opacity: 0;
  }
}

main {
  flex: 1;

  h1 {
    font-family: var(--font-heading);
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    max-width: 70ch;
  }

  a {
    color: var(--foreground-primary);
    text-decoration: underline;
  }

  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.5rem;

    li {
      margin-bottom: .5rem;
      list-style: disc;
    }
  }
}

div.error {
  background-color: var(--error-background);
  color: var(--error-foreground);
  border: var(--error-border);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;

  h2 {
    margin-top: 0;
    font-family: var(--font-heading);
    margin-bottom: .5rem;
  }

  p {
    margin: 0;
  }
}

a.button, form.default button[type="submit"] {
  font-family: var(--font-heading);
  padding: .75rem;
  border: none;
  border-radius: 4px;
  background-color: var(--foreground-primary);
  color: var(--background-page);
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;

  transition: background-color var(--duration-fast) cubic-bezier(0.3, 0.0, 0.8, 0.15);

  &.secondary {
    border: 1px solid var(--foreground-primary);
    background-color: transparent;
    color: var(--foreground-primary);

    &:hover {
      background-color: color-mix(in oklab, var(--foreground-primary) 10%, transparent);
    }
  }

  &:hover {
    background-color: var(--foreground-secondary);
  }
}

form.default {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto 2rem auto;

  label {
    font-family: var(--font-heading);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-family: var(--font-normal);
    padding: .5rem;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--input-background);
    color: var(--foreground-primary);
    font-size: 1rem;
  }
}