.profile-card {
  position: relative;
  z-index: 0;
  padding: 0;

  --banner-size: 200px;
  --pfp-size: 125px;

  .banner {
    width: 100%;
    height: var(--banner-size);
    background-color: light-dark(var(--color-sky-100), var(--color-sky-800));
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .pfp {
    position: absolute;
    z-index: 0;
    --padding: 1rem;
    left: var(--padding);
    top: calc(var(--banner-size) - (var(--pfp-size) / 2));
    width: var(--pfp-size);
    height: var(--pfp-size);

    outline: 4px solid var(--background-panel);
    background-color: var(--background-panel);

    &:dir(rtl) {
      right: var(--padding);
      left: auto;
    }

    &:dir(ltr) {
      left: var(--padding);
    }
  }

  .riding {
    position: absolute;
    top: var(--banner-size);
    width: 100%;
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .content {
    margin-top: calc((var(--pfp-size) / 2));
    padding: 0 1rem;

    h1 {
      margin-bottom: 0;
    }
  }

  .name {
    margin-bottom: 1rem;
  }

  table {
    padding: 1rem;
    margin-top: 1rem;
    padding-top: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.9rem;

    tbody {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    tr {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    th {
      color: var(--foreground-secondary);
      font-weight: normal;
      text-align: left;
    }
  }

  .gender-color {
    font-weight: 600;
    color: var(--gender);
  }
}

.gender-text {
  font-family: var(--font-monospace);
}
