#gender-container {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-direction: row;
  flex: 1;
}

#gender,
#hue-value,
#saturation-value,
#lightness-value {
  font-family: var(--font-monospace);
}

#hue-value,
#saturation-value,
#lightness-value {
  width: calc(3ch + 1rem + 2.5px);
}

#hue-slider,
#saturation-slider,
#lightness-slider {
  flex: 1;
  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    height: 8px;
    border-radius: var(--rounding);
  }

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    background-color: var(--foreground-primary);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: -4px; /* half the height of the thumb minus half the height of the track */
  }
}

#hue-slider {
  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    background: linear-gradient(
      to right,
      hsl(0, var(--saturation), var(--lightness)),
      hsl(60, var(--saturation), var(--lightness)),
      hsl(120, var(--saturation), var(--lightness)),
      hsl(180, var(--saturation), var(--lightness)),
      hsl(240, var(--saturation), var(--lightness)),
      hsl(300, var(--saturation), var(--lightness)),
      hsl(360, var(--saturation), var(--lightness))
    );
  }
}

#saturation-slider {
  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    background: linear-gradient(
      to right,
      hsl(var(--hue), 0%, var(--lightness)),
      hsl(var(--hue), 100%, var(--lightness))
    );
  }
}

#lightness-slider {
  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    background: linear-gradient(
      to right,
      black,
      hsl(var(--hue), var(--saturation), 50%),
      white
    );
  }
}

#color-preview {
  min-width: 100px;
  min-height: 100%;
  flex: 1;
  border: var(--border);
  background-color: var(--color);
  border-radius: var(--rounding);

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: var(--foreground-secondary);
    font-family: var(--font-normal);
    font-size: 0.9rem;
    text-align: center;
  }
}

.text-preview {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  .text-preview-light,
  .text-preview-dark {
    flex: 1;
    padding: 1rem;
    border: var(--border);
    border-radius: var(--rounding);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .text-preview-light {
    background-color: var(--light-background-page);
    color: var(--color, var(--light-foreground-primary));
  }

  .text-preview-dark {
    background-color: var(--dark-background-page);
    color: var(--color, var(--dark-foreground-primary));
  }
}

.warning {
  margin-top: 1rem;
  margin-bottom: 0;
}

.profile-images-container {
  position: relative;
  z-index: 0;
  padding: 0;
  margin-bottom: 1rem;

  --banner-size: 200px;
  --pfp-size: 125px;

  height: calc(var(--banner-size) + (var(--pfp-size) / 2) + 1rem);

  .banner {
    width: 100%;
    height: var(--banner-size);
    background-color: light-dark(var(--color-sky-100), var(--color-sky-800));
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.no-img {
        display: none;
      }
    }
  }

  .pfp {
    position: absolute;
    z-index: 200;
    border-radius: 100%;
    --padding: 1rem;
    left: var(--padding);
    top: calc(var(--banner-size) - (var(--pfp-size) / 2));
    width: var(--pfp-size);
    height: var(--pfp-size);

    outline: 4px solid var(--background-panel);
    background-color: var(--background-panel);

    .upload-icon {
      border-radius: 100%;
    }

    &:dir(rtl) {
      right: var(--padding);
      left: auto;
    }

    &:dir(ltr) {
      left: var(--padding);
    }

    img {
      border-radius: 100%;
    }
  }

  .input-container {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 190;


    .upload-icon {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      color: transparent;
      background-color: transparent;
      transition: color 150ms ease-in-out, background-color 150ms ease-in-out;

      svg.icon {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding: 1rem;
        color: transparent;
        background-color: transparent;
        transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
      }
    }
  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    appearance: none;
    z-index: 195;

    transition: background-color 150ms ease-in-out;
    
    &::file-selector-button {
      appearance: none;
    }

    &[name="profile_picture"] {
      width: var(--pfp-size);
    }
  }

    input[type="file"]:is(:hover, :focus) + .upload-icon {
      color: var(--dark-foreground-primary);
      background-color: color-mix(in oklab, var(--light-foreground-primary) 20%, transparent);
      svg.icon {
        color: var(--dark-foreground-primary);
        background-color: color-mix(in oklab, var(--light-foreground-primary) 50%, transparent);
      }
    }
  }


  .riding {
    position: absolute;
    top: var(--banner-size);
    width: 100%;
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
  }
}

.banner .input-container, input#banner {
  height: var(--banner-size);
  width: var(--page-width);
  max-width: var(--page-width);
}

.image-sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 620px) {
  .image-sections {
    flex-direction: row;
  }
}

.images-labels div {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}