ul#word-class-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.word-class-card {
    margin-bottom: .5rem;
}

.word-class-card a {
    display: flex;
    flex-direction: row;
    border: var(--border);
    border-radius: var(--rounding);
    background-color: var(--background-panel);
    padding: 1rem;
    gap: .5rem;
    align-items: center;

    text-decoration: none;

    transition: border-color var(--duration-very-fast) ease-in-out, box-shadow var(--duration-very-fast) ease-in-out;

    &:hover {
        border-color: var(--foreground-secondary);
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex-grow: 1;
        justify-content: space-between;
    }

    .word-class-name {
        font-weight: 600;
        color: var(--foreground-primary);
    }

    .word-class-abbreviation {
        font-style: italic;
    }

    .creator {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .25rem;
        font-size: .875rem;
        color: var(--foreground-secondary);
    }

    .right {
        display: flex;
        align-items: center;
    }

    .chevron {
        color: var(--foreground-tertiary);
        transition: color var(--duration-very-fast) ease-in-out;
    }

    &:hover .chevron {
        color: var(--foreground-secondary);
    }
}
