ul#word-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

@keyframes like {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.word-card a {
    display: flex;
    flex-direction: row;
    border: var(--border);
    border-radius: var(--rounding);
    background-color: var(--background-panel);
    padding: 1rem;
    gap: .5rem;
    align-items: center;

    text-decoration: none;

    transition: border-color var(--duration-very-fast) ease-in-out, box-shadow var(--duration-very-fast) ease-in-out;

    &:hover {
        border-color: var(--foreground-secondary);
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex-grow: 1;
        justify-content: space-between;
    }

    .word-text {
        font-weight: 600;
        color: var(--foreground-primary);
    }

    .word-definition {
        font-size: .875rem;
        color: var(--foreground-secondary);
    }

    .creator {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .25rem;
        font-size: .875rem;
        color: var(--foreground-secondary)
    }
}