{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "language_families/fragments/footer.html" as family_f -%}
{%- import "language_families/fragments/contributor_card.html" as contributor_card -%}

{% block head %}
    <link rel="stylesheet" href="/static/contributor-card.css">
{% endblock %}

{% block title %}contributors - {{ family.name }} - axismundi{% endblock %}

{% block content %}
<div class="header-with-actions">
    <h2 class="with-action">contributors</h2>
</div>

{% if contributors.is_empty() %}
    <p>No contributors found.</p>
{% else %}
    <ul class="contributor-list">
        {% for contributor in contributors %}
            {% call contributor_card::render(&contributor, "/language-families/" ~ family.code) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.code }}" class="breadcrumb">{{ family.name }}</a>
{% endblock %}

{% block footer %}
{% call family_f::family_section(&family, user_has_permission) %}
{% endblock %}
