{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "language_families/fragments/footer.html" as family_f -%}

{% block title %}edit permission - {{ family.name }} - axismundi{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>edit permission</h1>

{% call u::top_level_error() %}

<div class="context-cards">
    <span class="context-label">for user</span>
    <div class="context-card">
        <div class="context-card-content">
            {% call u::badge(&target_user, "small") %}
        </div>
    </div>
</div>

<form class="default" method="post" action="/language-families/{{ family.code }}/permissions/{{ permission.id }}/edit">

    <section>
        <label for="permission">Permission level</label>
        {% call u::field_error("permission") %}
        <div class="select-container">
            <select name="permission" id="permission" required>
                <option value="viewer" {% if permission.permission == crate::model::language_invites::PermissionLevel::Viewer %}selected{% endif %}>Viewer</option>
                <option value="editor" {% if permission.permission == crate::model::language_invites::PermissionLevel::Editor %}selected{% endif %}>Editor</option>
                <option value="admin" {% if permission.permission == crate::model::language_invites::PermissionLevel::Admin %}selected{% endif %}>Admin</option>
                {% if can_grant_owner %}
                    <option value="owner" {% if permission.permission == crate::model::language_invites::PermissionLevel::Owner %}selected{% endif %}>Owner</option>
                {% endif %}
            </select>
            {% call u::icon("chevron-down") %}
        </div>
    </section>
    
    {% include "languages/permissions/fragments/help_text.html" %}

    <section class="button-row">
        <button type="submit">Save changes</button>
    </section>
</form>


<style>
.context-cards {
    margin-bottom: 2rem;
}

.context-card {
    border: var(--border);
    border-radius: var(--rounding);
    background-color: var(--background-panel);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.context-card-content {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
</style>

{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.code }}" class="breadcrumb">{{ family.name }}</a>
{% endblock %}

{% block footer %}
{% call family_f::family_section(&family, user_has_permission) %}
{% endblock %}
