{% macro render(contributor, base_url) %}
<li class="contributor-card">
    <div class="left">
        <div class="contributor-info">
            {% call badge(&contributor.user, size="medium") %}
        </div>
        <div class="contribution-stats">
            {% call permission_badge(contributor.permission) %}
            <span class="text-badge gray">{{ contributor.word_count }} word{% if contributor.word_count != 1 %}s{% endif %}</span>
            <span class="text-badge gray">{{ contributor.translation_count }} translation{% if contributor.translation_count != 1 %}s{% endif %}</span>
            {% if let Some(created_at) = contributor.created_at %}
            <span class="contributor-since">
                since {% call relative(&created_at) %}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="permission-actions">
        {% if contributor.can_edit %}
            <a href="{{ base_url }}/permissions/{{ contributor.permission_id.unwrap() }}/edit" class="icon button gray" data-tooltip="Edit permission" aria-label="Edit permission">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"/></svg>
            </a>
        {% endif %}
        {% if contributor.can_delete %}
            <a class="icon button gray" data-tooltip="Delete permission" href="{{ base_url }}/permissions/{{ contributor.permission_id.unwrap() }}/delete">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/></svg>
            </a>
        {% endif %}
    </div>
</li>
{% endmacro %}

{% call render(contributor, base_url) %}