<div class="permission-level-helptext-container">
    <details class="permission-level-helptext">
        <summary>
            <svg class="chevron-icon"><use href="#icon-chevron-right"></use></svg>
            <span role="term" aria-details="permission-levels-info">Permission Levels</span>
        </summary>
    </details>
    <div role="definition" id="permission-levels-info" class="permission-level-helptext-content">
        <dl>
            <dt>Viewer</dt>
            <dd>Can view the language and its contents.</dd>
            <dt>Editor</dt>
            <dd>Can add and edit words, translations, and relations.</dd>
            <dt>Admin</dt>
            <dd>Can manage contributors and invites.</dd>
            <dt>Owner</dt>
            <dd>Can appoint admins and delete the language.</dd>
        </dl>
        <p>Only one user can be the owner at a time. Appointing a new owner will transfer ownership.</p>
    </div>
</div>