{%- import "util.html" as u -%}
<section>
    <label for="permission_level">Permission level</label>
    <div class="select-container">
        <select id="permission_level" name="permission_level">
            <option value="viewer">any</option>
            <option value="owner" {% if query.permission_level.as_ref() == Some(&PermissionLevel::Owner) %}selected{% endif %}>owner</option>
            <option value="admin" {% if query.permission_level.as_ref() == Some(&PermissionLevel::Admin) %}selected{% endif %}>admin</option>
            <option value="editor" {% if query.permission_level.as_ref() == Some(&PermissionLevel::Editor) %}selected{% endif %}>editor</option>
            <option value="viewer" {% if query.permission_level.as_ref() == Some(&PermissionLevel::Viewer) %}selected{% endif %}>viewer</option>
        </select>
        {% call u::icon("chevron-down") %}
    </div>
</section>
