{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "language_families/fragments/footer.html" as family_f -%}

{% block title %}edit {{ family.name }} - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/slate-editor.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script type="module" src="/static/form-editor.js"></script>
{% endblock %}

{% block content %}

{% if will_create_audit_log %}
    {% call u::audit_log_banner() %}
{% endif %}

<h1>edit {{ family.name }}</h1>


{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form id="language-family-edit-form" class="default" method="post" action="/language-families/{{ family.code }}/edit">
    <section>
        <label for="code">Language family code</label>
        {% call u::field_error(name="code") %}
        <input type="text" id="code" name="code" required value="{{previous_code}}">
        <span class="hint">use only lowercase letters (a-z), numbers (0-9), dashes (-), and underscores (_). must start and end with a letter or number.</span>
    </section>

    <section>
        <label for="name">Language family name</label>
        {% call u::field_error(name="name") %}
        <input type="text" id="name" name="name" required value="{{previous_name}}">
    </section>

    <section>
        <label for="description">Description (optional)</label>
        {% call u::field_error(name="description") %}
        <textarea id="description" name="description">{{previous_description}}</textarea>
    </section>

    <button type="submit">Save changes</button>
</form>

<script type="module">
  window.addEventListener('DOMContentLoaded', () => {
    if (window.mountFormEditor) {
      const descriptionTextarea = document.getElementById('description');
      const descriptionDiv = document.createElement('div');
      descriptionDiv.id = 'description';
      descriptionTextarea.replaceWith(descriptionDiv);
      const initialValue = JSON.parse(document.getElementById('description-initial-value').textContent);
      window.mountFormEditor('description', {
        initialValue: initialValue,
        inputName: 'description',
        formId: 'language-family-edit-form'
      });
    }
  });
</script>
<script type="application/json" id="description-initial-value">{{ previous_description | json | safe }}</script>
{% endblock %}

{% block breadcrumb %}
<span class="separator">/</span>
<a href="/language-families/{{ family.code }}" class="breadcrumb">{{ family.name }}</a>
{% endblock %}

{% block footer %}
{% call family_f::family_section(&family, can_edit_family) %}
{% endblock %}