{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "language_families/fragments/footer.html" as family_f -%}

{% block title %}{{ family.name }} - axismundi{% endblock %}
{% block embed_title %}{{ family.name }}{% endblock %}
{% block embed_description %}{{ family.description }}{% endblock %}

{% block oembed_url_path %}{% let family_code = &family.code %}{{ crate::util::urlencode(&format!("language-families/{family_code}")) }}{% endblock %}

{% block head %}
<script type="application/ld+json">
{{ json_ld | safe }}
</script>
<script src="/static/like-button.js" type="module" defer></script>
<script src="/static/panzoom-enhance.js" type="module" defer></script>
<link rel="stylesheet" href="/static/family-view.css">
<link rel="stylesheet" href="/static/language-view.css">
<link rel="stylesheet" href="/static/panzoom-enhance.css">
{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

{% if let Some((invite, sender)) = &pending_invite %}
<div class="invite-banner card">
    <p>
        You've been invited by
        {% call u::badge(sender, size="small") %}
        to collaborate as a <strong>{{ invite.permissions.display_name() }}</strong> on this language family.
    </p>
    <div class="actions">
        <form method="post" class="default" action="/language-families/{{ family.code }}/invites/accept">
            <button type="submit" class="button primary">Accept</button>
        </form>
        <form method="post" class="default" action="/language-families/{{ family.code }}/invites/dismiss" >
            <button type="submit" class="button secondary">Dismiss</button>
        </form>
    </div>
</div>
{% endif %}

<div class="language-card-full full-card card">
    {% if let Some(banner_url) = family.get_banner_url() %}
        <div class="banner"><img src="{{ banner_url }}" alt="" aria-hidden="true"></div>
    {% endif %}
    <div class="header-with-actions">
        <div class="with-subtitle">
            <h1>{{ family.name }}</h1>
            <div class="contributors subtitle">
                <span>by</span>
                {% call u::badge(&owner, size="small") %}
                {% if contributor_count > 1 %}
                    <span>and</span>
                    <a href="/language-families/{{ family.code }}/contributors">{{ contributor_count - 1 }} contributor{% if contributor_count != 1 %}s{% endif %}</a>
                {% endif %}
            </div>
        </div>
        <ul class="icons">
            {% if can_edit_language_family %}
                <li><a class="icon button gray" href="/language-families/{{ family.code }}/edit" data-tooltip="Edit language">
                    {% call u::icon("edit") %}
                </a></li>
            {% endif %}
            {% if can_delete_language_family %}
                <li><a class="icon button gray" href="/language-families/{{ family.code }}/delete" data-tooltip="Delete language family">
                    {% call u::icon("delete") %}
                </a></li>
            {% endif %}
            <li>
                <span class="likes like-button {% if is_liked %}liked{% endif %}" data-target="/api/language-families/{{ family.code }}" data-tooltip="Like this language family" role="button">
                    <span class="icon-button-container yellow">
                        <svg class="icon when-unliked"><use href="#icon-star-outline"></use></svg>
                        <svg class="icon when-liked"><use href="#icon-star-filled"></use></svg>
                    </span>
                    <span class="like-count">{{ family.like_count }}</span>
                </span>
            </li>
        </ul>
    </div>


    {% if !rendered_description.is_empty() %}
        <p>{{ rendered_description | safe }}</p>
    {% else %}
        <p class="empty-description">no description yet</p>
    {% endif %}

    <table>
        <tr>
            <th>created</th>
            <td>{% call u::relative(&family.created_at) %}</td>
        </tr>
        <tr>
            <th>members</th>
            <td>{{ member_count }}</td>
        </tr>
    </table>
</div>

{% if member_count > 0 %}

<div class="family-tree card">
    <div class="header-with-actions">
        <h2 class="with-action">members</h2>
        <ul>
            {% if can_edit_language_family %}
            <li><a class="with-icon" href="/language-families/{{ family.code }}/members/new">
                {% call u::icon("plus") %}
                <span>add member</span>
            </a></li>
            {% endif %}
            <li><a class="with-icon" href="/language-families/{{ family.code }}/members">
                {% call u::icon("list") %}
                <span>view all</span>
            </a></li>
        </ul>
    </div>
    <div class="family-tree-svg-container" data-panzoom>
        {{ family_tree_svg | safe }}
    </div>
</div>

{% else if can_edit_language_family %}
<div class="card">
    <h2>no members yet</h2>
    <p>add the root member to get started</p>
    <div class="actions">
        <a class="button primary-button" href="/language-families/{{ family.code }}/add-root">add root</a>
    </div>
</div>
{% endif %}

{% endblock %}

{% block footer %}
{% call family_f::family_section(&family, can_edit_language_family) %}
{% endblock %}
