{% extends "layout.html" %}

{% block title %}Axismundi - Sign up{% endblock %}

{% block content %}
<h1>Sign up</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="post" action="/register">
    <p>Already have an account? <a href="/login">Log in</a></p>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Sign up</button>
</form>
{% endblock %}