{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}sign up - axismundi{% endblock %}

{% block content %}
<h1>Sign up</h1>

{% call u::top_level_error() %}

<p>Already have an account? <a href="/login">Log in</a></p>

<form class="default" method="post" action="/register">
    <section>
        <label for="username">Username</label>
        {% call u::field_error(name="username") %}
        <input type="text" id="username" name="username" required value="{% if let Some(p) = &previous_input %}{{ p.username }}{% endif %}">
        <span class="hint">use only lowercase letters (a-z), numbers (0-9), dashes (-), and underscores (_). must start and end with a letter or number.</span>
    </section>

    <section>
        <label for="email">Email</label>
        {% call u::field_error(name="email") %}
        <input type="email" id="email" name="email" required value="{% if let Some(p) = &previous_input %}{{ p.email }}{% endif %}">
    </section>

    <section>
        <label for="password">Password</label>
        {% call u::field_error(name="password") %}
        <input type="password" id="password" name="password" required value="{% if let Some(p) = &previous_input %}{{ p.password }}{% endif %}">
    </section>

    <button type="submit">Sign up</button>
</form>
{% endblock %}