{% extends "layout.html" %}

{% block title %}Axismundi - Resend verification{% endblock %}

{% block content %}
<h1>Resend verification</h1>

{% if let Some(error) = error %}
    <div class="error">
        <h2>Error</h2>
        <p class="error">{{ error.message }}</p>
    </div>
{% endif %}

<form class="default" method="post" action="/resend-verification/{{ token_id }}">
    <p>This will invalidate the previous token and send a new verification email.</p>
    <input type="hidden" name="token_id" value="{{ token_id }}">
    <button type="submit">Resend verification email</button>
</form>
{% endblock %}