{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}{% call u::name(user) %} - axismundi{% endblock %}

{% block head %}
<script src="/static/like-button.js" type="module" defer></script>
<link rel="stylesheet" href="/static/profile.css">
<link rel="stylesheet" href="/static/activity.css">
<link rel="stylesheet" href="/static/language-card.css">
<link rel="stylesheet" href="/static/language-family-card.css">
<link rel="stylesheet" href="/static/word-card.css">
<link rel="stylesheet" href="/static/translatable-card.css">
<script type="importmap">
    {
        "imports": {
            "@floating-ui/dom": "https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.7.4/+esm"
        }
    }
</script>
<script src="/static/tooltip.js" type="module" defer></script>
<script src="/static/time.js" type="module" defer></script>
<link rel="stylesheet" href="/static/tooltip.css">
{% if let Some(pfp_url) = user.get_profile_picture_url() %}
    <meta property=og:image content="{{ pfp_url }}">
{% else %}
    <meta property=og:image content="/static/default-pfp.webp">
{% endif %}
{% endblock %}

{% block embed_title %}{% if !user.display_name.is_empty() %}{{ user.display_name ~ " @" ~ user.username }}{% else %}{{ "@" ~ user.username }}{% endif %}{% endblock %}
{% block embed_description %}{% if !user.description.is_empty() %}{{ user.description }}{% endif %}{% endblock %}

{% block content %}
<div class="card profile-card">
    <div class="banner"></div>
    {% if let Some(pfp_url) = user.get_profile_picture_url() %}
        <img class="pfp" alt="{% call u::name(user) %}'s profile picture" src="{{ pfp_url }}">
    {% else %}
        <img class="pfp" alt="{% call u::name(user) %}'s profile picture" src="/static/default-pfp.webp">
    {% endif %}
    <div class="riding">
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <a class="icon button gray" href="/settings" aria-label="Edit profile"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-1 2q-.425 0-.712-.288T3 20v-2.425q0-.4.15-.763t.425-.637L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.437.65T21 6.4q0 .4-.138.763t-.437.662l-12.6 12.6q-.275.275-.638.425t-.762.15zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"/></svg></a>

            {% endif %}
        {% endif %}
    </div>
    <div class="content">
        <div class="name">
            {% if !user.display_name.is_empty() %}
                {% if !user.gender.is_empty() %}
                    <h1 class="display-name gender-color" style="--gender: #{{ user.gender }};">{{ user.display_name }}</h1>
                {% else %}
                    <h1 class="display-name">{{ user.display_name }}</h1>
                {% endif %}
                <p class="username">@{{ user.username }}</p>
            {% else %}
                {% if !user.gender.is_empty() %}
                    <h1 class="username gender-color" style="--gender: #{{ user.gender }};">@{{ user.username }}</h1>
                {% else %}
                    <h1 class="username">@{{ user.username }}</h1>
                {% endif %}
            {% endif %}
        </div>
        {% if !rendered_description.is_empty() %}
            {{ rendered_description | safe }}
        {% endif %}
    </div>

    <table>
        {% if !user.pronouns.is_empty() %}
            <tr>
                <th>pronouns</th>
                <td>{{ user.pronouns }}</td>
            </tr>
        {% endif %}
        {% if !user.gender.is_empty() %}
            <tr>
                <th>gender</th>
                <td><span class="gender-color gender-text" style="--gender: #{{ user.gender }};">#{{ user.gender }}</span></td>
            </tr>
        {% endif %}
        <tr>
            <th>joined</th>
            <td>{% call u::relative(&user.created_at) %}</td>
        </tr>
    </table>
</div>

{% if languages.is_empty() %}
    <h2>languages</h2>
    {% if let Some(current_user) = current_user %}
        {% if current_user.id == user.id %}
            <p>you haven't added any languages yet.</p>
            <a href="/new-language" class="button">get started</a>
        {% else %}
            <p class="empty-description">no languages yet</p>
        {% endif %}
    {% else %}
        <p class="empty-description">no languages yet</p>
    {% endif %}
{% else %}
<div class="header-with-actions">
    <h2 class="with-action">languages</h2>
    <ul>
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <li><a class="with-icon" href="/new-language">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M11 13H6q-.425 0-.712-.288T5 12t.288-.712T6 11h5V6q0-.425.288-.712T12 5t.713.288T13 6v5h5q.425 0 .713.288T19 12t-.288.713T18 13h-5v5q0 .425-.288.713T12 19t-.712-.288T11 18z"/></svg>
                <span>new language</span>
            </a></li>
            {% endif %}
        {% endif %}
        <li><a class="with-icon" href="/languages?owned_by={{ user.username }}">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M9 18h11v-2.675H9zM4 8.675h3V6H4zm0 4.675h3v-2.675H4zM4 18h3v-2.675H4zm5-4.65h11v-2.675H9zm0-4.675h11V6H9zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20z"/></svg>
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for language_with_contributors in languages %}
        {% call u::render_language_card(&language_with_contributors) %}
    {% endfor %}
</ul>
{% endif %}

{% if !families.is_empty() %}
<div class="header-with-actions">
    <h2 class="with-action">language families</h2>
    <ul>
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <li><a class="with-icon" href="/new-language-family">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M11 13H6q-.425 0-.712-.288T5 12t.288-.712T6 11h5V6q0-.425.288-.712T12 5t.713.288T13 6v5h5q.425 0 .713.288T19 12t-.288.713T18 13h-5v5q0 .425-.288.713T12 19t-.712-.288T11 18z"/></svg>
                <span>new language family</span>
            </a></li>
            {% endif %}
        {% endif %}
        <li><a class="with-icon" href="/language-families?owner={{ user.username }}">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M9 18h11v-2.675H9zM4 8.675h3V6H4zm0 4.675h3v-2.675H4zM4 18h3v-2.675H4zm5-4.65h11v-2.675H9zm0-4.675h11V6H9zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20z"/></svg>
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for family_with_contributors in families %}
        {% call u::render_language_family_card(&family_with_contributors) %}
    {% endfor %}
</ul>
{% endif %}

{% if translatables.is_empty() %}
    {% if let Some(current_user) = current_user %}
        {% if current_user.id == user.id %}
            <div class="card first-interaction-card">
                <h2>no translatables yet</h2>
                <p>create your first translatable to get started</p>
                <div class="actions">
                    <a class="button primary-button" href="/new-translatable">new translatable</a>
                </div>
            </div>
        {% else %}
        <h2>translatables</h2>
            <p class="empty-description">no translatables yet</p>
        {% endif %}
    {% else %}
        <h2>translatables</h2>
        <p class="empty-description">no translatables yet</p>
    {% endif %}
{% else %}
<div class="header-with-actions">
    <h2 class="with-action">translatables</h2>
    <ul>
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <li><a class="with-icon" href="/new-translatable">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M11 13H6q-.425 0-.712-.288T5 12t.288-.712T6 11h5V6q0-.425.288-.712T12 5t.713.288T13 6v5h5q.425 0 .713.288T19 12t-.288.713T18 13h-5v5q0 .425-.288.713T12 19t-.712-.288T11 18z"/></svg>
                <span>new translatable</span>
            </a></li>
            {% endif %}
        {% endif %}
        <li><a class="with-icon" href="/translatables?created_by={{ user.username }}">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M9 18h11v-2.675H9zM4 8.675h3V6H4zm0 4.675h3v-2.675H4zM4 18h3v-2.675H4zm5-4.65h11v-2.675H9zm0-4.675h11V6H9zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20z"/></svg>
            <span>view all</span>
        </a></li>
    </ul>
</div>
    <ul class="card-list">
        {% for translatable_with_meta in translatables %}
            {% call u::translatable_card(translatable_with_meta) %}
        {% endfor %}
    </ul>
{% endif %}

<h2>recent activity</h2>

{% if activities.is_empty() %}
<p class="empty-description">no recent activity.</p>
{% else %}
    <ul class="card-list activities">
        {% for activity in activities %}
            {% call u::render_activity(&activity, false) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block footer %}
{% if let Some(current_user) = current_user %}
    {% if current_user.is_admin() || current_user.is_moderator() %}
        <li>
            <h2>moderation actions</h2>
            <ul>
                {% if user.is_banned() %}
                <li><a href="/admin/bans/{{ user.username }}/unban">unban this user</a></li>
                {% else %}
                <li><a href="/admin/bans/{{ user.username }}/ban">ban this user</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endif %}
{% endblock %}
