{% extends "layout.html" %}
{%- import "util.html" as u -%}
{%- import "translatables/fragments/card.html" as tc -%}
{%- import "languages/fragments/card.html" as lang_card -%}
{%- import "language_families/fragments/card.html" as family_card -%}
{%- import "activity.html" as activity -%}

{% block title %}{% call u::name(user) %} - axismundi{% endblock %}

{% block head %}
<script src="/static/like-button.js" type="module" defer></script>
<link rel="stylesheet" href="/static/profile.css">
<link rel="stylesheet" href="/static/activity.css">
<link rel="stylesheet" href="/static/language-card.css">
<link rel="stylesheet" href="/static/language-family-card.css">
<link rel="stylesheet" href="/static/word-card.css">
<link rel="stylesheet" href="/static/translatable-card.css">

<script src="/static/time.js" type="module" defer></script>

{% if let Some(pfp_url) = user.get_profile_picture_url() %}
    <meta property=og:image content="{{ pfp_url }}">
{% else %}
    <meta property=og:image content="/assets/default-pfp.webp">
{% endif %}
{% endblock %}

{% block embed_title %}{% if !user.display_name.is_empty() %}{{ user.display_name ~ " @" ~ user.username }}{% else %}{{ "@" ~ user.username }}{% endif %}{% endblock %}
{% block embed_description %}{% if !user.description.is_empty() %}{{ user.description }}{% endif %}{% endblock %}

{% block content %}

{% if !back.is_empty() %}{% call u::back_button(&back, "to search") %}{% endif %}

<div class="card profile-card">
    <div class="banner">
        {% if let Some(banner_url) = user.get_banner_url() %}
            <img src="{{ banner_url }}" alt="" aria-hidden="true">
        {% endif %}
    </div>
    {% if let Some(pfp_url) = user.get_profile_picture_url() %}
        <img class="pfp" alt="{% call u::name(user) %}'s profile picture" src="{{ pfp_url }}">
    {% else %}
        <img class="pfp" alt="{% call u::name(user) %}'s profile picture" src="/assets/default-pfp.webp">
    {% endif %}
    <div class="riding">
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <a class="icon button gray" href="/settings" aria-label="Edit profile">{% call u::icon("edit") %}</a>

            {% endif %}
        {% endif %}
    </div>
    <div class="content">
        <div class="name">
            {% if !user.display_name.is_empty() %}
                {% if !user.gender.is_empty() %}
                    <h1 class="display-name gender-color" style="--gender: #{{ user.gender }};">{{ user.display_name }}</h1>
                {% else %}
                    <h1 class="display-name">{{ user.display_name }}</h1>
                {% endif %}
                <p class="username">@{{ user.username }}</p>
            {% else %}
                {% if !user.gender.is_empty() %}
                    <h1 class="username gender-color" style="--gender: #{{ user.gender }};">@{{ user.username }}</h1>
                {% else %}
                    <h1 class="username">@{{ user.username }}</h1>
                {% endif %}
            {% endif %}
        </div>
        {% if !rendered_description.is_empty() %}
            {{ rendered_description | safe }}
        {% endif %}
    </div>

    <table>
        {% if !user.pronouns.is_empty() %}
            <tr>
                <th>pronouns</th>
                <td>{{ user.pronouns }}</td>
            </tr>
        {% endif %}
        {% if !user.gender.is_empty() %}
            <tr>
                <th>gender</th>
                <td><span class="gender-color gender-text" style="--gender: #{{ user.gender }};">#{{ user.gender }}</span></td>
            </tr>
        {% endif %}
        <tr>
            <th>joined</th>
            <td>{% call u::relative(&user.created_at) %}</td>
        </tr>
    </table>
</div>

{% if languages.is_empty() %}
    <h2>languages</h2>
    {% if let Some(current_user) = current_user %}
        {% if current_user.id == user.id %}
            <p>you haven't added any languages yet.</p>
            <a href="/new-language" class="button">get started</a>
        {% else %}
            <p class="empty-description">no languages yet</p>
        {% endif %}
    {% else %}
        <p class="empty-description">no languages yet</p>
    {% endif %}
{% else %}
<div class="header-with-actions">
    <h2 class="with-action">languages</h2>
    <ul>
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <li><a class="with-icon" href="/new-language">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new language</span>
            </a></li>
            {% endif %}
        {% endif %}
        <li><a class="with-icon" href="/languages?owned_by={{ user.username }}">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for language_with_contributors in languages %}
        {% call lang_card::render(&language_with_contributors) %}
    {% endfor %}
</ul>
{% endif %}

{% if !families.is_empty() %}
<div class="header-with-actions">
    <h2 class="with-action">language families</h2>
    <ul>
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <li><a class="with-icon" href="/new-language-family">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new language family</span>
            </a></li>
            {% endif %}
        {% endif %}
        <li><a class="with-icon" href="/language-families?owner={{ user.username }}">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
<ul class="card-list">
    {% for family_with_contributors in families %}
        {% call family_card::render(&family_with_contributors) %}
    {% endfor %}
</ul>
{% endif %}

{% if translatables.is_empty() %}
    {% if let Some(current_user) = current_user %}
        {% if current_user.id == user.id %}
            <div class="card first-interaction-card">
                <h2>no translatables yet</h2>
                <p>create your first translatable to get started</p>
                <div class="actions">
                    <a class="button primary-button" href="/new-translatable">new translatable</a>
                </div>
            </div>
        {% else %}
        <h2>translatables</h2>
            <p class="empty-description">no translatables yet</p>
        {% endif %}
    {% else %}
        <h2>translatables</h2>
        <p class="empty-description">no translatables yet</p>
    {% endif %}
{% else %}
<div class="header-with-actions">
    <h2 class="with-action">translatables</h2>
    <ul>
        {% if let Some(current_user) = current_user %}
            {% if current_user.id == user.id %}
        <li><a class="with-icon" href="/new-translatable">
                <svg class="icon"><use href="#icon-plus"></use></svg>
                <span>new translatable</span>
            </a></li>
            {% endif %}
        {% endif %}
        <li><a class="with-icon" href="/translatables?created_by={{ user.username }}">
            {% call u::icon("list") %}
            <span>view all</span>
        </a></li>
    </ul>
</div>
    <ul class="card-list">
        {% for translatable_with_meta in translatables %}
            {% call tc::render(translatable_with_meta) %}
        {% endfor %}
    </ul>
{% endif %}

<h2>recent activity</h2>

{% if activities.is_empty() %}
<p class="empty-description">no recent activity.</p>
{% else %}
    <ul class="card-list activities">
        {% for activity in activities %}
            {% call activity::render(&activity, false) %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block footer %}
{% if let Some(current_user) = current_user %}
    {% if current_user.is_admin() || current_user.is_moderator() %}
        <li>
            <h2>moderation actions</h2>
            <ul>
                {% if user.is_banned() %}
                <li><a href="/admin/bans/{{ user.username }}/unban">unban this user</a></li>
                {% else %}
                <li><a href="/admin/bans/{{ user.username }}/ban">ban this user</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endif %}
{% endblock %}
