{% extends "layout.html" %}
{%- import "util.html" as u -%}

{% block title %}audit log entry - axismundi{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/audit-log.css">
{% endblock %}

{% block content %}
{% call u::back_button("/admin/audit-log", "to search") %}

<div class="audit-log-view">
    <div class="header-with-actions">
        <h2 class="with-action">audit log entry</h2>
    </div>

    <div class="context-cards">
        {% if let Some(user) = &entry.user %}
            <div class="context-card user-context">
                <span class="context-label">action by</span>
                <div class="context-card-link">
                    {% call u::badge(user) %}
                </div>
            </div>
        {% else %}
            <div class="context-card">
                <span class="context-label">action by</span>
                <div class="context-card-link">
                    <span class="context-text">{% if entry.user_id.is_some() %}deleted user{% else %}system action{% endif %}</span>
                </div>
            </div>
        {% endif %}

        <div class="context-card">
            <span class="context-label">resource</span>
            <div class="context-card-link">
                {% call u::audit_log_resource_link(&entry) %}
            </div>
        </div>
    </div>

    <div class="card">
        <table class="report-meta">
            <tr>
                <th>timestamp</th>
                <td>{% call u::relative(&entry.action_at) %}</td>
            </tr>

            <tr>
                <th>action</th>
                <td>{{ entry.action.as_str() }}</td>
            </tr>
        </table>

        <div class="details-section">
            <h2>details</h2>
            <div class="reason-text">
                <pre>{{ entry.details }}</pre>
            </div>
        </div>

        <details>
            <summary>advanced details</summary>
            <table class="report-meta">
                <tr>
                    <th>entry id</th>
                    <td><code>{{ entry.id }}</code></td>
                </tr>

                <tr>
                    <th>resource id</th>
                    <td><code>{{ entry.resource_id }}</code></td>
                </tr>

                <tr>
                    <th>resource type</th>
                    <td>{% match entry.resource_type %}
                        {% when crate::model::audit_log::AuditableResource::User %}user
                        {% when crate::model::audit_log::AuditableResource::Language %}language
                        {% when crate::model::audit_log::AuditableResource::LanguageFamily %}language family
                        {% when crate::model::audit_log::AuditableResource::LanguageFamilyMember %}language family member
                        {% when crate::model::audit_log::AuditableResource::Word %}word
                        {% when crate::model::audit_log::AuditableResource::WordClass %}word class
                        {% when crate::model::audit_log::AuditableResource::Translation %}translation
                        {% when crate::model::audit_log::AuditableResource::Translatable %}translatable
                        {% when crate::model::audit_log::AuditableResource::WordRelation %}word relation
                        {% when crate::model::audit_log::AuditableResource::Invite %}invite
                        {% when crate::model::audit_log::AuditableResource::Permission %}permission
                        {% when crate::model::audit_log::AuditableResource::Quotation %}quotation
                        {% when crate::model::audit_log::AuditableResource::Definition %}definition
                        {% when crate::model::audit_log::AuditableResource::QuotationSuggestion %}quotation suggestion
                        {% when crate::model::audit_log::AuditableResource::Report %}report
                    {% endmatch %}</td>
                </tr>

                <tr>
                    <th>user</th>
                    <td>{% if let Some(user_id) = entry.user_id %}
                        <code>{{ user_id }}</code>
                    {% else %}
                        <span>system action</span>
                    {% endif %}</td>
                </tr>
            </table>
        </details>
    </div>
</div>
{% endblock %}
