<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="NOINDEX, NOFOLLOW" name="ROBOTS" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <style>
    body {
        font-family: "Roboto", "Noto Sans", Arial, sans-serif;
        color: #0f172b;
        padding: 24px;
        padding-bottom: 48px;
    }
  </style>
</head>
<body>
<a href="{{ crate::config::CONFIG.public_url_base }}"><img src="https://raw.githubusercontent.com/auctumnus/axismundi/cba18135af623664f6210a8379dbc85d3e83e306/assets/axismundi-wordmark.png" height="28" width="123" alt="axismundi logo" /></a>
<br/>
{% block content %}{% endblock %}
</body>
</html>